@import '~styles/theme/theme.scss';

.root {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: $d8x-border-radius;
  border: 1px solid var(--d8x-block-border-color);
  overflow: hidden;
}

.infoBlock {
  background-color: var(--d8x-color-background-items-second);
  padding: $d8x-spacing * 10;
  width: 274px;
}

.actionBlock {
  flex: 1;
  background-color: var(--d8x-color-background-items);
  padding: $d8x-spacing * 8;
}

.separator {
  margin-bottom: 0;
}

.text {
  margin-top: $d8x-spacing * 4;
  margin-bottom: $d8x-spacing * 4;
}

@media screen and ($d8x-breakpoint-max-sm) {
  .root {
    display: block;
  }

  .infoBlock {
    background-color: var(--d8x-color-background-items);
    border-radius: $d8x-border-radius;
    margin-bottom: $d8x-spacing * 4;
    padding: $d8x-spacing * 6;
    width: auto;
  }

  .actionBlock {
    border-radius: $d8x-border-radius;
    padding: $d8x-spacing * 6;
  }
}
