@import 'styles/theme/theme';

.root {
  display: flex;
  justify-content: space-between;
  margin-top: 2 * $d8x-spacing;
  align-items: center;
}

.label {
  padding-right: $d8x-spacing;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2 * $d8x-spacing !important;
  min-width: 350px;

  :global(.MuiFormControlLabel-root) {
    flex: 1;
  }
}

.keepPosLeverage,
.settings {
  display: flex;

  :global(.MuiFormControlLabel-root) {
    margin-left: 0;
    margin-right: 0;
  }
}

.settingsIcon {
  cursor: pointer;
  transition: opacity 0.3s linear;
  margin-right: 4px;

  &:hover {
    opacity: 0.7;
  }
}

.maxEntryPrice {
  margin-top: 3 * $d8x-spacing;
  color: var(--d8x-color-black-opac);
}

@media screen and ($d8x-breakpoint-max-xs) {

  .dialogContent {
    min-width: 250px;
    padding-top: 2 * $d8x-spacing !important;
  }
}
