@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  padding-right: $d8x-spacing;
}

.dialog {

  :global(.MuiPaper-root) {
    min-width: 350px;
    max-width: 450px;
  }
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6 * $d8x-spacing !important;

  :global(.MuiFormControlLabel-root) {
    flex: 1;
  }
}

.dialogAction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slippageBox {
  padding-bottom: 24px;
  padding-top: 24px;
}

.expiryBox {
  padding: $d8x-spacing * 6;
}

.sliderHolder {
  width: 100%;
  padding-top: 24px;
}

.keepPosLeverage,
.settings {
  display: flex;
  align-items: center;
  color: var(--d8x-color-action);
  cursor: pointer;

  :global(.MuiFormControlLabel-root) {
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.settingsIcon {
  transition: opacity 0.3s linear;
  margin-right: -$d8x-spacing * 5;
  margin-left: 0;
  padding: $d8x-spacing $d8x-spacing * 3 $d8x-spacing $d8x-spacing;
  width: 60px;
  height: 24px;
  margin-bottom: 2px;
  color: var(--d8x-color-action);

  &:hover {
    opacity: 0.7;
  }
}

.maxEntryPrice {
  margin-top: 3 * $d8x-spacing;
  color: var(--d8x-color-text-label-one);
}

@media screen and ($d8x-breakpoint-max-xs) {

  .dialogContent {
    padding-top: 2 * $d8x-spacing !important;
  }
}
