@import '~styles/theme/theme.scss';
@import '~styles/theme/utils.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: 3 * $d8x-spacing;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2 * $d8x-spacing;
}

.label {
  padding-right: $d8x-spacing;
  color: var(--d8x-color-text-main);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2 * $d8x-spacing;
}
