@import '~styles/theme/_theme.scss';

.root {
  background-color: var(--d8x-color-black-50);
  padding: 10 * $d8x-spacing;
  border-radius: $d8x-border-radius 0 0 $d8x-border-radius;
  box-sizing: content-box;
  min-width: 195px;
}

.title {
  margin-bottom: 10 * $d8x-spacing;
  color: var(--d8x-color-black-maintext);
}

.dataBlock {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  color: var(--d8x-color-purple-dark);

  .dataTitle {
    color: var(--d8x-color-black-maintext);
    margin-bottom: $d8x-spacing;
  }

  .dataValue {
    display: block;
    font-weight: 600;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    border-radius: $d8x-border-radius $d8x-border-radius 0 0;
  }
}
