@import '~styles/theme/theme.scss';

.root {
  display: flex;
  border-radius: $d8x-border-radius;
  border: 1px solid var(--d8x-block-border-color);
  overflow-x: auto;
  background-color: var(--d8x-color-background-items);
}

.divider {
  border-right: 1px solid var(--d8x-color-separator-border);
  margin: 10 * $d8x-spacing 0;
}

@media screen and ($d8x-breakpoint-max-md) {
  .root {
    flex-direction: column;
  }

  .divider {
    display: none;
  }
}
