@import '~styles/theme/_theme.scss';

.selected {
  background-color: var(--d8x-color-background-items-selected);
}

.menuItem {
  color: var(--d8x-color-text-main);
}

.flagIcon {
  margin-right: 2 * $d8x-spacing;
}
