@import '~styles/theme/_theme.scss';

.selected {
  background-color: var(--d8x-background-purple);
}

.menuItem {
  color: var(--d8x-color-black-maintext);
}

.flagIcon {
  margin-right: 2 * $d8x-spacing;
}
