@import '~styles/theme/theme.scss';

.root {
  :global(.MuiPaper-root) {
    max-width: 400px;
    width: 100%;
  }

  &.wide {
    :global(.MuiPaper-root) {
      max-width: 600px;
    }
  }
}

.contentWithGap {
  margin-bottom: $d8x-spacing * 8;
}

.selectors {
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 6;
  padding-top: $d8x-spacing * 6;
  padding-bottom: $d8x-spacing * 6;
}

.inputBlock {
  justify-content: left;
  margin-top: $d8x-spacing * 3;
  margin-bottom: $d8x-spacing * 3;
}

.centered {
  display: block;
  font-weight: 600;
  text-align: left;
}

.newPositionHeader {
  margin: 20px 0;
}

.newPositionDetails {
  margin-top: $d8x-spacing * 3;
  margin-bottom: $d8x-spacing * 3;
}

.actionBlock {
  padding-top: $d8x-spacing * 3;
  padding-bottom: $d8x-spacing * 3;
  cursor: pointer;
}

.checkbox {
  padding-right: 0;
}

.helperText {
  cursor: pointer;
  text-align: right;
  margin-top: calc($d8x-spacing / 2);

  a {
    cursor: pointer;
    color: var(--d8x-color-action);
  }
}
