@import '~styles/theme/theme.scss';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  @include media-tablet {
    padding: 0 $d8x-spacing * 3;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 3;
  flex: 1;
  overflow-x: auto;
  margin: 0 auto;
  max-width: 1450px;
  width: 100%;
}

.statsHolder {
  display: flex;
  gap: $d8x-spacing * 3;

  .selectHolder {
    background-color: var(--d8x-color-background-items);
    border-radius: $d8x-spacing * 3;
    padding: $d8x-spacing * 2;
    max-height: 72px;
  }
}

@media screen and ($d8x-breakpoint-max-md) {
  .container {
    gap: $d8x-spacing * 4;
    margin-top: $d8x-spacing * 3;
  }
}

.mobileSelectBoxes {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: $d8x-spacing * 4;
  gap: $d8x-spacing * 3;
  justify-content: center;
}
