@import '~styles/theme/_theme.scss';

.root {
  padding: $d8x-spacing 0;
  background-color: var(--d8x-color-background-items);

  .line {
    height: 0;
    border-bottom: 1px solid var(--d8x-color-separator-border);
  }
}

:global(.MuiModal-root) {

  .root {
    background-color: var(--d8x-color-background);
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) {

  .root {
    padding: $d8x-spacing 0;
  }
}
