@import '~styles/theme/theme.scss';

.root {
  padding: $d8x-spacing 0;

  &.block {
    background-color: var(--d8x-color-background-items);
  }

  &.modal {
    background-color: var(--d8x-modal-background-color);
  }
}

.line {
  height: 0;
  border-bottom: 1px solid var(--d8x-color-separator-border);
}

.orSeparator {
  position: relative;
  width: 100%;
  padding: 0 9 * $d8x-spacing;
  text-align: center;
}

.orTextHolder {
  position: absolute;
  inset: -($d8x-spacing * 1.5) 0 0;
  text-align: center;

  span {
    width: 40px;
    background-color: var(--d8x-color-background);
    padding: 0 2 * $d8x-spacing;
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) {
  .root {
    padding: $d8x-spacing 0;
  }
}
