@import '~styles/theme/_theme.scss';

.root {
  height: 0;
  border-bottom: 1px solid var(--d8x-separator-border-color);
  margin: 2 * $d8x-spacing 0;
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) and ($d8x-breakpoint-max-lg) {

  .root {
    margin: 1 * $d8x-spacing 0;
  }
}
