@import 'styles/theme/theme';

.root {
  border-radius: 0 $d8x-border-radius $d8x-border-radius $d8x-border-radius;
}

.tableHead {
  background-color: var(--d8x-color-white);
}

.tableBody {
  background-color: var(--d8x-color-white-opac);
}
