@import 'styles/theme/theme';

.root {
  border-radius: 0 $d8x-border-radius $d8x-border-radius $d8x-border-radius;
}

.actionIcon {
  cursor: pointer;
  transition: opacity linear 200ms;

  &:hover {
    opacity: 0.7;
  }
}

.tableHead {
  background-color: var(--d8x-color-white);

  :global(.MuiTypography-root) {
    font-weight: 400;
  }
}

.tableBody {
  background-color: var(--d8x-color-white-opac);

  :global(.MuiTypography-root) {
    color: var(--d8x-color-purple);
  }
}

.refreshHolder {
  text-align: right;
  padding-right: 4 * $d8x-spacing;
  padding-top: 2 * $d8x-spacing;
}

.noData {
  text-align: center;
}

.paginationHolder {
  display: flex;
  justify-content: center;
}

@media screen and ($d8x-breakpoint-min-md) and ($d8x-breakpoint-max-lg) {

  .root {

    :global(.MuiTableCell-root) {
      padding: 16px 8px;
    }
  }
}
