@import '~styles/theme/theme.scss';

.root {
  overflow-x: auto;
}

.tableHolder {
  padding: 0 6 * $d8x-spacing;
}

.tableHead {
  background-color: var(--d8x-color-background-table-header);
}

.tableBody {
  background-color: var(--d8x-color-background-table);

  :global(.MuiTypography-root) {
    color: var(--d8x-color-text-table-cell);
  }

  tr {
    background-color: var(--d8x-color-background-table-row-default);

    &:nth-child(2n) {
      background-color: var(--d8x-color-background-table-even-row);
    }
  }
}

.noData {
  padding-top: 4 * $d8x-spacing;
  text-align: center;
}

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 400px;
  }
}

.paginationHolder {
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

.blocksHolder {
  padding: 0 6 * $d8x-spacing;

  @include media-phone {
    padding: 0 4 * $d8x-spacing;
  }
}

.withBackground {
  background-color: var(--d8x-color-background-table-holder);
}

.footer {
  padding-bottom: 6 * $d8x-spacing;
}

@media screen and ($d8x-breakpoint-min-lg) and ($d8x-breakpoint-max-lg) {
  .tableHolder {
    :global(.MuiTableCell-root) {
      padding: 4px;
      height: 48px;
    }
  }
}
