@import '~styles/theme/_theme.scss';

.root {
  overflow-x: auto;
}

.tableHead {
  background-color: var(--d8x-color-background-items);
}

.tableBody {
  background-color: var(--d8x-color-background-table);

  :global(.MuiTypography-root) {
    color: var(--d8x-color-text-highlight);
  }

  tr {
    background-color: var(--d8x-color-background-table-row);

    &:nth-child(2n) {
      background-color: var(--d8x-color-background-items);
    }
  }
}

.noData {
  padding-top: 4 * $d8x-spacing;
  text-align: center;
}

.dialog {

  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 400px;
  }
}

.dialogContent {
  font-size: 14px;
}

.paginationHolder {
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

@media screen and ($d8x-breakpoint-min-lg) and ($d8x-breakpoint-max-lg) {

  .tableHolder {

    :global(.MuiTableCell-root) {
      padding: 4px;
      height: 48px;
    }
  }
}
