@import '~styles/theme/theme.scss';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2 * $d8x-spacing;
  padding: 3 * $d8x-spacing;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-background-card-overlay);

  &:focus,
  &:focus-within,
  &:hover {
    border: 1px solid var(--d8x-color-action);
    padding: calc(3 * $d8x-spacing - 1px);
  }
}

.rowOne {
  height: 24px;
  display: flex;
  width: 100%;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
}

.rowTwo {
  display: flex;
  width: 100%;
  margin-top: 2 * $d8x-spacing;
  justify-content: space-between;
  gap: $d8x-spacing;
}

.buttonsHolder {
  display: flex;
  gap: $d8x-spacing;
  width: 100%;
}

.markButton {
  padding: 0;
  width: 45px;
  min-width: 45px;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--d8x-button-select-secondary-background);
  color: var(--d8x-button-select-secondary-color);
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--d8x-button-select-secondary-border-color-hover);
    color: var(--d8x-button-select-secondary-color);
  }

  &.selected {
    background-color: var(--d8x-button-select-secondary-background-selected);
    color: var(--d8x-button-select-secondary-color-selected);
  }
}

.inputHolder {
  :global(.MuiInputBase-root) {
    width: 100px;
    padding-right: 0;
    background-color: transparent;
    height: 32px;

    input {
      width: 45%;
      font-size: 14px;
    }
  }

  :global(.MuiInputAdornment-root) {
    margin-top: 4px;
    margin-left: 0;
  }

  :global(.MuiOutlinedInput-notchedOutline) {
    border-color: var(--d8x-color-border);
  }

  &:hover {
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: var(--d8x-color-action);
    }  
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .root {
    justify-content: space-between;
  }

  .buttonsHolder {
    display: none;
  }
}

@media screen and ($d8x-breakpoint-height-max-md) {
  .buttonsHolder {
    margin-bottom: 4px;
  }
}
