@import 'styles/theme/theme';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rowOne {
  height: 24px;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 0;
  align-items: flex-end;
  justify-content: space-between;
}

.rowTwo {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 3 * $d8x-spacing;
  justify-content: space-between;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.sliderHolder {
  width: 100%;
  margin-left: 9px;
  margin-right: 8 * $d8x-spacing;
}

.inputHolder {

  :global(.MuiInputBase-root) {
    width: 116px;
    padding-right: 0;

    input {
      width: 45%;
      text-align: right;
    }
  }

  :global(.MuiInputAdornment-root) {
    margin-left: 0;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    justify-content: space-between;
  }

  .sliderHolder {
    display: none;
  }
}
