@import '~styles/theme/theme.scss';
@import '~styles/theme/utils.scss';

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 350px;
  }
}

.centered {
  @include flex-center;
}

.description {
  display: block;
  font-size: 12px;
  margin-bottom: 4 * $d8x-spacing;
}

.successIcon {
  width: 100px;
  height: 100px;
  color: var(--d8x-color-action-icon);
}

.actionButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6 * $d8x-spacing;

  .connectButton {
    display: flex;
    align-items: center;
    gap: 2 * $d8x-spacing;
    width: 100%;

    svg {
      margin-bottom: $d8x-spacing;
    }
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .actionButtonsContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 4 * $d8x-spacing;
  }
}
