@import '~styles/theme/theme.scss';

.root {
  position: relative;
  flex: 1;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  background-color: var(--d8x-color-background-items);
  border-radius: 0 $d8x-border-radius $d8x-border-radius 0;
  max-width: 400px;
}

.title {
  font-weight: 600;
  color: var(--d8x-color-text-main);
  margin-bottom: $d8x-spacing * 6;
}

.inputLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2 * $d8x-spacing;
  margin-bottom: 2 * $d8x-spacing;
  height: 40px;
}

.helperText {
  display: block;
  text-align: right;
  margin-top: calc($d8x-spacing / 2);
  color: var(--d8x-color-text-main);

  a {
    cursor: pointer;
    color: var(--d8x-color-action);
  }
}

.button {
  margin-top: $d8x-spacing * 6;
  width: 100%;
}

.loaderWrapper {
  position: absolute;
  inset: 0;
  margin: $d8x-spacing * 6 $d8x-spacing * 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--d8x-color-background-items-selected);
  border-radius: $d8x-border-radius;
}

@media screen and ($d8x-breakpoint-max-md) {
  .inputLine {
    flex-direction: column;
    align-items: stretch;
    height: auto;

    .labelHolder {
      display: flex;
      justify-content: flex-start;
      margin-bottom: $d8x-spacing * 2;
    }

    .inputHolder {
      :global(.MuiInputBase-root) {
        width: 100%;
        padding-right: $d8x-spacing * 2;

        input {
          width: 90%;
        }
      }

      :global(.MuiInputAdornment-root) {
        margin-top: 4px;
        margin-left: 0;
      }
    }
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .inputLine {
    .inputHolder {
      :global(.MuiInputBase-root) {
        padding-right: 0;

        input {
          width: 45%;
          text-align: right;
        }
      }
    }
  }
}
