@import '~styles/theme/theme.scss';

.root {
  border: 1px solid var(--d8x-color-border);
  border-radius: $d8x-border-radius;
  margin-top: 6 * $d8x-spacing;
}

.headerWrapper,
.dataWrapper {
  padding: 4 * $d8x-spacing;
}

.headerWrapper {
  background-color: var(--d8x-color-background-items-second);
  border-radius: $d8x-border-radius $d8x-border-radius 0 0;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  gap: 2 * $d8x-spacing;
}

.symbol {
  color: var(--d8x-color-text-highlight);
}

.dataLabel {
  font-weight: 500;
  font-size: 14px;
}

.dataValue {
  color: var(--d8x-color-text-label-one);
  font-size: 14px;
}

.green {
  color: var(--d8x-color-buy-rgba);
  font-size: 14px;
}

.red {
  color: var(--d8x-color-sell-rgba);
  font-size: 14px;
}
