@import '~styles/theme/theme.scss';

.root {
  display: flex;
  justify-content: center;
  gap: 2 * $d8x-spacing;

  :global(.MuiButtonBase-root) {
    flex: 1;
    padding: 3px 0 0;
    width: 50px;
    min-width: 50px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    &.selected {
      color: var(--d8x-button-primary-color);
      background-color: var(--d8x-button-primary-background);
      border-color: var(--d8x-button-primary-border-color);
    }
  }
}
