@import '~styles/theme/theme.scss';

.root {
  display: flex;
  justify-content: center;
  gap: 2 * $d8x-spacing;

  :global(.MuiButtonBase-root) {
    flex: 1;
    padding: 0;
    width: 50px;
    min-width: 50px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;

    &.selected {
      background-color: var(--d8x-color-action);
      color: var(--d8x-color-text-secondary);
    }
  }
}
