@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  justify-content: center;

  :global(.MuiButtonBase-root) {
    flex: 1;
    width: 64px;
    height: 36px;

    &.selected {
      background-color: var(--d8x-color-purple);
      color: var(--d8x-color-white);
    }

    &:not(:last-of-type) {
      border-right-color: var(--d8x-color-black-opac);
      border-right-width: 1px;
      border-radius: 8px;
      margin-right: 8px;
    }

    &:last-of-type {
      border-radius: 8px;
    }
  }
}
