@import '~styles/theme/theme.scss';

.root {
  display: block;
}

.heading {
  color: var(--d8x-color-text-main);
  padding-bottom: $d8x-spacing * 2;
}

.statContainer {
  margin-top: $d8x-spacing * 8;
  text-align: left;
}

.statLabel {
  display: flex;
  justify-content: flex-start;
  color: var(--d8x-color-text-label-two);
  white-space: nowrap;
  margin-bottom: $d8x-spacing * 0.5;
  font-size: 12px;
}

.statValue {
  display: block;
  color: var(--d8x-color-text-highlight);
  font-weight: 600;
  white-space: nowrap;
}
