@import 'styles/theme/theme';

.root {
  display: block;
}

.heading {
  padding-bottom: $d8x-spacing * 2;
}

.statContainer {
  margin-top: $d8x-spacing * 8;
  text-align: left;
}

.statLabel {
  display: block;
  color: var(--d8x-color-black-400);
  white-space: nowrap;
  margin-bottom: $d8x-spacing * 0.5;
  font-size: 12px;
}

.statValue {
  display: block;
  color: var(--d8x-color-purple);
  white-space: nowrap;
}

.actionIcon {
  top: 1.5px;
  height: 13px;
}
