@import '~styles/theme/theme.scss';
@import '~styles/theme/utils.scss';

.holderRoot {
  display: flex;
  align-items: center;
  gap: 0.5 * $d8x-spacing;
  background-color: var(--d8x-color-background-items);
  border: 1px solid var(--d8x-color-action);
  border-radius: 8px;
  height: 72px;
  min-width: 350px;
}

.iconsWrapper {
  position: relative;
  height: 45px;
  width: 100px;
  border-radius: 50%;
  color: var(--d8x-color-text-market-icon);
  margin-left: $d8x-spacing * 3;

  .baseIcon,
  .quoteIcon {
    @include flex-center;

    position: absolute;
    inset: 0;
    width: 45px;
    height: 45px;
    border: 1.5px solid var(--d8x-color-action);
    background-color: var(--d8x-color-background-icon);
    border-radius: 50%;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .baseIcon {
    right: inherit;
    z-index: 2;
  }

  .quoteIcon {
    left: inherit;
    z-index: 1;

    &:hover,
    &:focus,
    &:active {
      z-index: 3;
    }
  }

  &.oneCurrency {
    width: 45px;

    .quoteIcon {
      display: none;
    }
  }
}

.badge {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 2 * $d8x-border-radius;
  padding: 2px 8px 1px;
  margin-left: 2 * $d8x-spacing;
  margin-top: calc($d8x-spacing / -2);

  &.crypto {
    color: var(--d8x-badge-crypto-color);
    background-color: var(--d8x-badge-crypto-background);
  }

  &.prediction {
    color: var(--d8x-badge-prediction-color);
    background-color: var(--d8x-badge-prediction-background);
  }

  &.fx {
    color: var(--d8x-badge-fx-color);
    background-color: var(--d8x-badge-fx-background);
  }

  &.commodity {
    color: var(--d8x-badge-commodity-color);
    background-color: var(--d8x-badge-commodity-background);
  }
}

.marketSelectButton {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: $d8x-spacing * 3;
  border-radius: 0 $d8x-spacing * 2 $d8x-spacing * 2 0;
  border-color: transparent;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    border-color: transparent;
  }
}

.arrowDropDown {
  color: var(--d8x-color-action-icon);
  padding-top: 2 * $d8x-spacing;
}

.selectBlock {
  border-radius: $d8x-spacing;
  border: 1px solid silver;

  :global(.MuiSelect-select) {
    background-color: transparent !important;
  }

  :global(.MuiInputBase-root) {
    min-width: 240px;
    font-weight: 600;
    color: var(--d8x-color-action);
  }

  :global(.MuiInputLabel-root):global(.Mui-focused) {
    color: var(--d8x-color-text-main);
  }

  :global(.MuiInputLabel-root) {
    color: var(--d8x-color-text-label-one);
  }
}

.selectedMarketBlock {
  text-align: left;
}

.selectedMarketLabel {
  color: var(--d8x-color-text-label-one);
  line-height: 30px;
}

.selectedMarketValue {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--d8x-color-action);
  gap: $d8x-spacing * 2;

  .selectedMarketPerpetual {
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 4px;
  }
}

.statMainValue {
  font-size: 24px;
  font-weight: 600;

  &.positive {
    color: var(--d8x-color-text-buy);
  }

  &.negative {
    color: var(--d8x-color-text-sell);
  }
}

.collateralFilter {
  width: 100%;
}

.dialog {
  :global(.MuiDialog-container) {
    align-items: flex-start;
  }

  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 450px;
  }
}

.optionList {
  overflow-y: scroll;
}

.dialogAction {
  margin-top: $d8x-spacing * 6;
  justify-content: center;
}

.optionsHeader {
  display: block;
  padding: 12px;

  .header {
    color: var(--d8x-color-text-main);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 16px;
}

@media screen and ($d8x-breakpoint-max-lg) {
  .selectedMarketLabel {
    line-height: 24px;
  }

  .selectedMarketValue {
    gap: $d8x-spacing;

    .selectedMarketPerpetual {
      font-size: 16px;
      margin-top: calc($d8x-spacing / 2);
    }
  }

  .statMainValue {
    font-size: 20px;
  }
}

@media screen and ($d8x-breakpoint-max-md) {
  .holderRoot {
    height: 72px;
    min-width: 350px;
    max-width: 350px;
  }

  .iconsWrapper {
    margin-left: $d8x-spacing * 2;
  }

  .marketSelectButton {
    padding: $d8x-spacing * 2;
  }

  .selectedMarketValue {
    gap: $d8x-spacing * 2;

    .selectedMarketPerpetual {
      font-size: 20px;
    }
  }

  .statMainValue {
    font-size: 24px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .holderRoot {
    width: 100%;
    min-width: inherit;
    max-width: inherit;
    border: none;
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) and ($d8x-breakpoint-max-lg) {
  .holderRoot {
    height: 64px;
  }
}
