@import '~styles/theme/_theme.scss';

.dialog {

  :global(.MuiPaper-root) {
    background-color: var(--d8x-background);
    color: var(--d8x-color-black-maintext);
    width: 100%;
    max-width: 650px;
    border-radius: $d8x-border-radius;
  }
}

.dialogContent {
  font-size: 16px;
  line-height: 24px;

  p {
    margin-top: $d8x-spacing * 6;
  }

  a {
    color: var(--d8x-color-purple-dark);
  }
}

.dialogAction {
  justify-content: center;
}

.dialogTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
