@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 650px;
  }
}

.dialogContent {
  p {
    margin-top: $d8x-spacing * 6;
  }

  a {
    color: var(--d8x-color-text-highlight);
  }
}
