@import '~styles/theme/theme.scss';

.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $d8x-spacing * 3;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-background-card-overlay);

  &:focus,
  &:focus-within,
  &:hover {
    border: 1px solid var(--d8x-color-action);
    padding: calc($d8x-spacing * 3 - 1px);
  }
}

.responsiveInput {
  :global(.MuiInputBase-root) {
    width: 100%;
  }
}

.dynamicLogo {
  svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .root {
    flex-direction: column;
    align-items: stretch;
    padding: $d8x-spacing * 2;
  }

  .labelHolder {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $d8x-spacing * 2;
  }
}
