@import '~styles/theme/theme.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4 * $d8x-spacing;
  padding: 4 * $d8x-spacing;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-background-card-overlay);
}

@media screen and ($d8x-breakpoint-max-xs) {
  .root {
    flex-direction: column;
    align-items: stretch;
  }

  .labelHolder {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $d8x-spacing * 3;
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) {
  .root {
    margin-bottom: 2 * $d8x-spacing;
    margin-top: 2 * $d8x-spacing;
  }
}
