@import 'styles/theme/theme';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2 * $d8x-spacing;
  margin-bottom: 2 * $d8x-spacing;

  .label {
    display: flex;
    align-items: center;
    padding-right: $d8x-spacing;
    gap: 8px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    flex-direction: column;
    align-items: stretch;
  }

  .label {
    justify-content: flex-start !important;
    margin-bottom: 3 * $d8x-spacing;
  }
}
