@import '~styles/theme/theme.scss';

.root {
  display: flex;
  text-align: right;
  place-items: center flex-end;
}

.tpValue {
  color: var(--d8x-color-text-buy) !important;
}

.slValue {
  color: var(--d8x-color-text-sell) !important;
}

.iconButton {
  margin-right: -12px;
}

.actionIcon {
  color: var(--d8x-color-action-icon);
}
