@import 'styles/theme/theme';

.root {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.buttonsHolder {
  display: flex;
  gap: $d8x-spacing * 4;
  height: 48px;
}

.connectWalletButton {
  min-width: 195px;
}

.chainButton {
  display: flex;
  align-items: center;
  border-color: transparent;
  min-width: 64px;

  img {
    width: 32px;
    height: 32px;
  }
}

.addressButton {
  display: flex;
  align-items: center;
  gap: 2 * $d8x-spacing;
}

.starsHolder {
  margin-top: -10px;
  width: 24px;
  height: 24px;
  line-height: 1;
  color: var(--d8x-color-white);
}

@media screen and ($d8x-breakpoint-max-xs) {

  .buttonsHolder {
    gap: $d8x-spacing;
  }

  .chainButton {
    padding: 0;
    min-width: 50px;
  }

  .addressButton {
    padding: 0 10px;
    min-width: 50px;
  }
}
