@import '~styles/theme/theme.scss';

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
  height: 32px;
  padding: $d8x-spacing 2 * $d8x-spacing $d8x-spacing 3 * $d8x-spacing;
  border-radius: 100px;
}

.menuHolder {
  :global(.MuiPaper-root) {
    color: var(--d8x-color-text-main);
    background-color: var(--d8x-color-background);
  }
}

.selectedValue {
  display: flex;
  align-items: center;
  gap: 2 * $d8x-spacing;
}

.arrowDropDown {
  color: var(--d8x-color-text-secondary);
  padding-top: 2 * $d8x-spacing;

  &.disabledHandle {
    color: var(--d8x-color-text-label-two);
  }
}

@media screen and ($d8x-breakpoint-max-md) {
  .selectedValue {
    font-size: 14px;
  }
}
