@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 500px;
  }
}

.section {
  margin: $d8x-spacing * 4 0;
}

.noteText {
  display: block;
  margin: $d8x-spacing * 8 0;
}

.copyText {
  font-size: 12px;
}
