@import '~styles/theme/_theme.scss';

.sideBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: var(--d8x-color-background-items-second);
  padding: 40px 40px 64px;
  width: 274px;

  @include media-tablet {
    background-color: var(--d8x-color-background-items);
    border-radius: $d8x-border-radius;
    margin: $d8x-spacing * 4 0 $d8x-spacing * 4;
    padding: $d8x-spacing * 6;
    width: auto;
  }
}

.accountValue {
  color: var(--d8x-color-text-highlight);
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: $d8x-spacing;
  font-weight: 600;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 2;
}

.detailsHeader {
  color: var(--d8x-color-text-main);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3;
}

.title {
  color: var(--d8x-color-text-main);
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--d8x-color-separator-border);
}

.detailsLine {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--d8x-color-text-main);
  line-height: 2;
}

.detailsValue {
  color: var(--d8x-color-text-highlight);
}
