@import 'styles/theme/theme';

.dialogRoot {
  min-width: 465px;
}

.title {
  text-align: center;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
}

.baseRebateContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--d8x-color-black-50);
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.paddedContainer {
  display: flex;
  flex-direction: column;
  gap: 5 * $d8x-spacing;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.divider {
  border-bottom: 1px solid var(--d8x-color-black-150);
}

.kickbackRateInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.kickbackInput {
  background-color: var(--d8x-color-black-100);
  max-width: 90px;
  color: var(--d8x-color-black-400);
}

.dialogActionsContainer {
  display: flex;
  justify-content: space-around;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}
