@import '~styles/theme/_theme.scss';

.root {
  background-color: var(--d8x-color-background-items);

  &:global(.MuiPaper-root) {
    border-radius: $d8x-border-radius;
    padding: 0;
  }

  button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

    &.selected {
      color: var(--d8x-color-action);
      background-color: var(--d8x-color-action-secondary);
    }
  }
}

.headerRoot {
  padding: 6 * $d8x-spacing 6 * $d8x-spacing 2 * $d8x-spacing;
}

.headerWrapper {
  display: flex;
  align-items: center;
  gap: 2 * $d8x-spacing;
}

.tableSelectorsWrapper {
  flex: 1;
  display: flex;
  gap: 2 * $d8x-spacing;
}

.content {
  padding: 0 !important;
  overflow-x: auto;
}
