@import 'styles/theme/theme';

.optionsHolder {
  overflow-y: auto;
  max-height: 400px;
}

.optionsHeader {
  display: flex;
  overflow-y: auto;
  max-height: 400px;
  padding: 12px;
  align-items: center;

  .pair {
    flex: 1;
  }

  .status {
    text-align: right;
  }
}

.optionHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .pair {
    font-weight: bold;
  }

  .status {
    text-align: right;
    font-weight: bold;
  }
}
