@import '~styles/theme/utils.scss';

.miniButton {
  @include transition(all);

  display: flex;
  justify-content: center;
  border: 1px solid var(--d8x-color-action);
  color: var(--d8x-color-text-main);
  align-items: center;
  padding-top: 10px;
  max-width: 48px;
  min-width: 48px;

  &:hover {
    border: 1px solid var(--d8x-color-action);
    background-color: var(--d8x-color-background-primary-hover);
    color: var(--d8x-color-text-secondary);
  }
}
