@import '~styles/theme/_theme.scss';

.iconButton {
  margin-left: 4 * $d8x-spacing;
  color: var(--d8x-color-white);
  padding: 0;
  min-width: 48px;
  height: 48px;

  svg {
    width: 32px;
    height: 32px;
  }
}

@media screen and ($d8x-breakpoint-max-lg) {

  .iconButton {
    margin-left: 2 * $d8x-spacing;
  }
}
