@import 'styles/theme/theme';

.root {
  display: flex;
  margin-bottom: $d8x-spacing;
}

.dataBlock {
  flex: 1;
  background-color: var(--d8x-background);
  padding: $d8x-spacing;
  border-radius: $d8x-border-radius;
  margin: 4 * $d8x-spacing;
}

.value {
  color: var(--d8x-color-purple);
}

.actionBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4 * $d8x-spacing;
}
