@import '~styles/theme/_theme.scss';

.root {
  border: 1px solid var(--d8x-color-black-opac);
  border-radius: $d8x-border-radius;
  margin-top: 6 * $d8x-spacing;
}

.headerWrapper,
.dataWrapper {
  padding: 4 * $d8x-spacing;
}

.headerWrapper {
  display: flex;
  align-items: center;
  background-color: var(--d8x-color-black-50);
  border-radius: $d8x-border-radius $d8x-border-radius 0 0;
}

.leftSection {
  flex: 1;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  gap: 2 * $d8x-spacing;
}

.symbol {
  color: var(--d8x-color-purple);
}

.dataLabel {
  font-weight: 500;
}

.dataValue {
  color: var(--d8x-color-purple);
}

.green {
  color: rgba(var(--d8x-background-buy-rgb), 1);
}

.red {
  color: rgba(var(--d8x-background-sell-rgb), 1);
}
