@import '~styles/theme/theme.scss';
@import '~styles/theme/utils.scss';

.root {
  :global(.MuiOutlinedInput-input) {
    width: 100%;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-moz-inner-spin-button,
    &::-moz-outer-spin-button {
      -moz-appearance: none;
      margin: 0;
    }
  }

  :global(.MuiButtonBase-root) {
    padding: 9px 15px;
    border-radius: $d8x-border-radius;

    &.selected {
      font-weight: bold;
      background-color: var(--d8x-color-background-items-selected);
    }
  }
}

.decreaseButton,
.increaseButton {
  display: none;
  color: var(--d8x-color-action);
}

.outlined {
  padding-left: 0;
  margin-left: 0;

  &:hover,
  &:focus-within {
    background-color: transparent !important;
  }

  :global(.MuiInputBase-root) {
    width: 100%;
  }

  :global(.MuiInputAdornment-root) {
    margin-left: 0;
    margin-right: $d8x-spacing;
  }

  :global(.MuiOutlinedInput-notchedOutline) {
    border-color: transparent !important;
  }

  :global(.MuiInputBase-input) {
    background-color: transparent !important;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
  }
}

.inputStartAdornment {
  color: var(--d8x-color-text-label-one);
}

.inputEndAdornment {
  color: var(--d8x-color-text-label-one);

  :global(.MuiPaper-root) {
    color: var(--d8x-color-text-main);
    background-color: var(--d8x-color-background);
  }
}
