@import '~styles/theme/_theme.scss';

.root {

  :global(.MuiOutlinedInput-input) {
    width: 100%;
  }

  :global(.MuiButtonBase-root) {
    padding: 9px 15px;
    border-radius: $d8x-border-radius;

    &.selected {
      font-weight: bold;
      background-color: var(--d8x-background-purple);
    }
  }
}

.decreaseButton,
.increaseButton {
  display: none;
  color: var(--d8x-color-purple);
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 40px;

    :global(.MuiInputBase-root) {
      flex: 1;
      padding-right: 0;

      input {
        width: 45%;
        text-align: right;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }

      input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
      }

      input[type='number']:hover,
      input[type='number']:focus {
        -moz-appearance: textfield;
        appearance: textfield;
      }

      :global(.MuiInputAdornment-root) {
        margin-top: 4px;
        margin-left: 0;
        margin-right: 4px;
      }
    }

    :global(.MuiOutlinedInput-input) {
      padding: 6px 10px;
    }

    .decreaseButton,
    .increaseButton {
      display: inline-block;
      padding: 0;
      border: none;
      min-width: auto;
      line-height: 0.5;
      background: none !important;
      transition: opacity 0.3s linear;

      &:hover {
        opacity: 0.7;
      }

      > svg {
        width: 30px;
        height: 30px;
      }

      > :global(.MuiTouchRipple-root) {
        display: none;
      }
    }
  }
}
