.pnlPositive {
  color: rgba(var(--d8x-background-buy-rgb), 1) !important;
}

.pnlNegative {
  color: rgba(var(--d8x-background-sell-rgb), 1) !important;
}

.actionIcon {
  color: var(--d8x-color-purple);
}

.tpSlCell {
  display: flex;
  justify-items: flex-end;
}
