.pnlPositive {
  color: var(--d8x-color-buy-rgba) !important;
}

.pnlNegative {
  color: var(--d8x-color-sell-rgba) !important;
}

.actionIcon {
  color: var(--d8x-color-action-icon);
}

.tpSlCell {
  display: flex;
  justify-items: flex-end;
}
