@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 400px;
  }
}

.dialogContent {
  font-size: 16px;
  line-height: 24px;
}

.dialogContent > :not(:first-of-type) {
  margin-top: 16px;
}

.dialogAction {
  justify-content: center;
}

.dialogTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.iconHolder {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  margin-top: -4px;
}

.actionIcon {
  cursor: pointer;
  position: relative;
  color: var(--d8x-color-action-icon);
  font-size: 1rem;
  height: 13px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $d8x-spacing * 2;
}

.title {
  color: var(--d8x-color-text-main);
  line-height: 1;

  @include media-phone {
    font-size: 0.75rem;
  }
}
