@import 'styles/theme/theme';

.root {
  width: 100%;
  background-color: var(--d8x-color-white);
  border-radius: $d8x-border-radius;
  padding: $d8x-spacing * 4;
}

.stats {
  display: flex;
  margin-top: $d8x-spacing * 8;
}

.statsLeftBlock {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: $d8x-spacing * 4;
  padding-right: $d8x-spacing * 8;
  border-right: 1px solid var(--d8x-side-border-color);
}

.statsRightBlock {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  padding-left: $d8x-spacing * 8;
  gap: $d8x-spacing * 4;
}

.statContainer {
  flex: 1;
  text-align: left;
}

.statLabel {
  display: block;
  white-space: nowrap;
  margin-bottom: $d8x-spacing * 0.5;
}

.statValue {
  display: block;
  color: var(--d8x-color-purple);
  white-space: nowrap;
}

@media screen and ($d8x-breakpoint-max-md) {

  .stats {
    flex-direction: column;
  }

  .statsLeftBlock {
    border-bottom: 1px solid var(--d8x-side-border-color);
    border-right: none;
    padding-bottom: $d8x-spacing * 4;
    padding-right: 0;
    gap: $d8x-spacing * 6;
  }

  .statsRightBlock {
    padding-top: $d8x-spacing * 4;
    padding-left: 0;
    gap: $d8x-spacing * 6;
  }

  .statContainer {
    flex: initial;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .statsLeftBlock {
    flex-direction: column;
  }

  .statsRightBlock {
    flex-direction: column;
  }
}
