@import '~styles/theme/theme.scss';

.iconButton {
  margin-left: 4 * $d8x-spacing;
  color: var(--d8x-color-text-secondary);
  padding: 0;
  min-width: 48px;
  height: 48px;
}

.icon {
  color: var(--d8x-color-text-secondary);
}

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 450px;
  }
}

.dialogContent {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10 * $d8x-spacing;
  margin-bottom: 10 * $d8x-spacing;
}

.dialogContent > :not(:first-of-type) {
  margin-top: 4 * $d8x-spacing;
}

.dialogAction {
  justify-content: center;
  padding: 16px 32px 32px;
}
