@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  align-items: center;
  gap: 2 * $d8x-spacing;
}

.actionIcon {
  cursor: pointer;
  transition: opacity linear 200ms;

  &:hover {
    opacity: 0.7;
  }
}

.refreshLabel {
  color: var(--d8x-color-black-800);
}
