@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .selector {
    color: var(--d8x-color-action);
    padding: $d8x-spacing;
  }
}

.inputHolder {

  :global(.MuiInputBase-root) {
    padding-right: 0;
  }
}

.currencyLabel {
  cursor: pointer;
  display: block;
  line-height: 3;
}

.menuItems {

  :global(.MuiButtonBase-root) {
    border-radius: 0;
    font-size: 0.75rem;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    flex-direction: column;
    align-items: stretch;
  }

  .label {
    justify-content: flex-start !important;
    margin-bottom: 3 * $d8x-spacing;
  }
}

@media screen and ($d8x-breakpoint-height-max-md) {

  .root {
    margin-top: 2 * $d8x-spacing;
  }
}

.sliderHolder {
  margin: 0 9px;

  @include media-desktop {
    margin-bottom: 4px;
  }

  @include media-phone {
    margin-bottom: 0;

    :global(.MuiSlider-root) {
      margin-bottom: 10px;
    }
  }
}
