@mixin colors {
  --d8x-color-action: #664ADF;
  --d8x-color-action-rgb: 102, 74, 223;
  --d8x-color-action-secondary: #EFF0FE;
  --d8x-color-text-main: #1C1C1C;
  --d8x-color-text-highlight: #3F317E;
  --d8x-color-text-secondary: #FFF;
  --d8x-color-text-label-one: #666;
  --d8x-color-text-label-two: #818181;
  --d8x-color-text-primarytab-inactive: #A4A4A4;
  --d8x-color-text-buy: #089981;
  --d8x-color-text-sell: #F23645;
  --d8x-color-background: #F8F8F8;
  --d8x-color-background-page-rgb: 102, 74, 223;
  --d8x-color-background-items: #FFF;
  --d8x-color-background-items-second: #F8F8F8;
  --d8x-color-background-items-selected: rgba(102, 74, 223, 0.1);
  --d8x-color-background-items-inactive: #E5E3E3;
  --d8x-color-background-table-row: #F8F8F8;
  --d8x-color-background-table: transparent;
  --d8x-color-background-loader: rgba(102, 74, 223, 0.1);
  --d8x-color-background-buy-rgb: 8, 153, 129;
  --d8x-color-background-sell-rgb: 242, 54, 69;
  --d8x-color-background-buy-inactive-rgb: 129, 129, 129;
  --d8x-color-border: #E5E3E3;
  --d8x-color-icon: #664ADF;
  --d8x-color-icon-second: #F3F2F2;
  --d8x-color-separator-border: #E5E3E3;
  --d8x-color-input-border: #E5E3E3;
  --d8x-color-logo-second: black;
  --d8x-color-warning-main: #FFDA9F;
  --d8x-color-warning-secondary: #FFBDBD;

  // Override colors for toastify
  --toastify-color-progress-success: #664ADF;
  --toastify-color-progress-error: #FFBDBD;
  --toastify-color-progress-warning: #FFBDBD;
  --toastify-color-progress-info: #FFBDBD;
  --toastify-color-progress-light: linear-gradient(to right, #FFDA9F, #FFBDBD, #000);
}
