:root {
  --d8x-color-purple: #664ADF;
  --d8x-color-purple-rgb: 102, 74, 223;
  --d8x-color-white-rgb: 255, 255, 255;
  --d8x-color-yellow: #FFDA9F;
  --d8x-color-rose: #FFBDBD;
  --d8x-color-black: #333;
  --d8x-color-black-maintext: #1C1C1C;
  --d8x-color-black-800: #383838;
  --d8x-color-black-500: #666;
  --d8x-color-black-400: #818181;
  --d8x-color-black-200: #C8C8C8;
  --d8x-color-black-150: #E5E3E3;
  --d8x-color-black-50: #F8F8F8;
  --d8x-color-black-opac: #E5E3E3;
  --d8x-color-white: #FFF;
  --d8x-color-white-opac: rgba(255, 255, 255, 0.6);
  --d8x-color-white-30: #FAFAFA;
  --d8x-text-color: #111;
  --d8x-highlight-color: #664ADF;
  --d8x-color-purple-50: #EFF0FE;
  --d8x-color-purple-100: #E1E4FE;
  --d8x-color-purple-300: #A8ABF9;
  --d8x-background: #F8F8F8;
  --d8x-background-buy-rgb: 129, 129, 129;
  --d8x-background-sell-rgb: 129, 129, 129;
  --d8x-background-card-title: rgba(255, 255, 255, 0.4);
  --d8x-background-card-details: #FFF;
  --d8x-background-white: #FFF;
  --d8x-background-grey: #F5F5F5;
  --d8x-background-purple: rgba(102, 74, 223, 0.1);
  --d8x-background-inactive-tab: rgba(255, 255, 255, 0.5);
  --d8x-background-loader: rgba(102, 74, 223, 0.1);
  --d8x-icon-color: #664ADF;
  --d8x-social-icon-color: #000;
  --d8x-social-icon-color-hover: rgba(0, 0, 0, 0.5);
  --d8x-side-border-color: rgba(102, 74, 223, 0.1);
  --d8x-separator-border-color: #E5E3E3;

  // Override colors for toastify
  --toastify-color-progress-success: #664ADF;
  --toastify-color-progress-error: #FFBDBD;
  --toastify-color-progress-warning: #FFBDBD;
  --toastify-color-progress-info: #FFBDBD;
  --toastify-color-progress-light: linear-gradient(to right, #FFDA9F, #FFBDBD, #000);
}
