@mixin dark-colors {
  --d8x-color-action: #7860e3;
  --d8x-color-action-rgb: 102, 74, 223;
  --d8x-color-action-secondary: #7860e333;
  --d8x-color-text-main: #fff;
  --d8x-color-text-highlight: #c9ccfc;
  --d8x-color-text-secondary: #f3f2f2;
  --d8x-color-text-label-one: #aaa;
  --d8x-color-text-label-two: #a4a4a4;
  --d8x-color-text-primarytab-inactive: #818181;
  --d8x-color-text-buy: #089981;
  --d8x-color-text-sell: #f23645;
  --d8x-color-background: #201b35;
  --d8x-color-background-page-rgb: 102, 74, 223;
  --d8x-color-background-items: #111216;
  --d8x-color-background-items-second: #7860e333;
  --d8x-color-background-items-selected: rgba(102, 74, 223, 0.1);
  --d8x-color-background-items-inactive: #2e2e2e;
  --d8x-color-background-table-row: #201d2d;
  --d8x-color-background-table: transparent;
  --d8x-color-background-loader: rgba(102, 74, 223, 0.1);
  --d8x-color-background-buy-rgb: 8, 153, 129;
  --d8x-color-background-sell-rgb: 242, 54, 69;
  --d8x-color-background-buy-inactive-rgb: 129, 129, 129;
  --d8x-color-border: #e5e3e3;
  --d8x-color-icon: #7860e3;
  --d8x-color-icon-second: #383838;
  --d8x-color-separator-border: #666;
  --d8x-color-input-border: #666;
  --d8x-color-logo-second: white;
  --d8x-color-warning-main: #ffda9f;
  --d8x-color-warning-secondary: #ffbdbd;
  --d8x-meter-color-border: #7860e3;
  --d8x-meter-background-division: rgba(255, 255, 255, 1);
  --d8x-meter-background-division-done: rgba(8, 153, 129, 1);

  //--Additional colors
  --d8x-color-background-header: var(--d8x-color-background-items);
  --d8x-color-background-icon: var(--d8x-color-background-items);
  --d8x-color-background-order-block: var(--d8x-color-background-items);
  --d8x-color-background-card-content: var(--d8x-color-background-items);
  --d8x-color-background-order-block-bottom: var(--d8x-color-background);
  --d8x-color-background-table-holder: var(--d8x-color-background-items);
  --d8x-color-background-table-header: var(--d8x-color-background-items);
  --d8x-color-background-table-row-default: var(--d8x-color-background-table-row);
  --d8x-color-background-table-even-row: var(--d8x-color-background-items);
  --d8x-color-text-table-header: var(--d8x-color-text-main);
  --d8x-color-text-table-cell: var(--d8x-color-text-highlight);
  --d8x-color-action-icon: var(--d8x-color-action);
  --d8x-color-background-primary: var(--d8x-color-action);
  --d8x-color-background-primary-hover: rgba(var(--d8x-color-action-rgb), 0.6);
  --d8x-color-background-primary-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-buy-rgba: rgba(var(--d8x-color-background-buy-rgb), 1);
  --d8x-color-background-buy: rgba(var(--d8x-color-background-buy-rgb), 1);
  --d8x-color-background-buy-hover: rgba(var(--d8x-color-background-buy-rgb), 0.9);
  --d8x-color-background-buy-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-sell-rgba: rgba(var(--d8x-color-background-sell-rgb), 1);
  --d8x-color-background-sell: rgba(var(--d8x-color-background-sell-rgb), 1);
  --d8x-color-background-sell-hover: rgba(var(--d8x-color-background-sell-rgb), 0.9);
  --d8x-color-background-sell-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-background-order-option: var(--d8x-color-background-items-inactive);
  --d8x-color-background-order-option-hover: var(--d8x-color-background-items-inactive);
  --d8x-color-background-order-option-selected: var(--d8x-color-action);
  --d8x-color-text-order-option: var(--d8x-color-text-primarytab-inactive);
  --d8x-color-text-order-option-hover: var(--d8x-color-action);
  --d8x-color-text-order-option-selected: var(--d8x-color-text-secondary);
  --d8x-color-background-modal: var(--d8x-color-background);
  --d8x-color-background-order-block-info: var(--d8x-color-background);
  --d8x-color-text-order-block-info: var(--d8x-color-text-main);
  --d8x-color-text-market-icon: var(--d8x-color-action);
  --d8x-color-background-pumpstation-overview: var(--d8x-color-action);
  --d8x-color-text-pumpstation-overview: #fff;
  --d8x-color-text-warning: #1c1c1c;

  //--Override colors for toastify
  --toastify-color-progress-success: #664adf;
  --toastify-color-progress-error: #ffbdbd;
  --toastify-color-progress-warning: #ffbdbd;
  --toastify-color-progress-info: #ffbdbd;
  --toastify-color-progress-light: linear-gradient(to right, #ffda9f, #ffbdbd, #000);
}
