@mixin dark-colors {
  --d8x-color-action: #7860E3;
  --d8x-color-action-rgb: 102, 74, 223;
  --d8x-color-action-secondary: #7860E333;
  --d8x-color-text-main: #FFF;
  --d8x-color-text-highlight: #C9CCFC;
  --d8x-color-text-secondary: #F3F2F2;
  --d8x-color-text-label-one: #AAA;
  --d8x-color-text-label-two: #A4A4A4;
  --d8x-color-text-primarytab-inactive: #818181;
  --d8x-color-text-buy: #089981;
  --d8x-color-text-sell: #F23645;
  --d8x-color-background: #201B35;
  --d8x-color-background-page-rgb: 102, 74, 223;
  --d8x-color-background-items: #111216;
  --d8x-color-background-items-second: #7860E333;
  --d8x-color-background-items-selected: rgba(102, 74, 223, 0.1);
  --d8x-color-background-items-inactive: #2E2E2E;
  --d8x-color-background-table-row: #201D2D;
  --d8x-color-background-table: transparent;
  --d8x-color-background-loader: rgba(102, 74, 223, 0.1);
  --d8x-color-background-buy-rgb: 8, 153, 129;
  --d8x-color-background-sell-rgb: 242, 54, 69;
  --d8x-color-background-buy-inactive-rgb: 129, 129, 129;
  --d8x-color-border: #E5E3E3;
  --d8x-color-icon: #7860E3;
  --d8x-color-icon-second: #383838;
  --d8x-color-separator-border: #666;
  --d8x-color-input-border: #666;
  --d8x-color-logo-second: white;
  --d8x-color-warning-main: #FFDA9F;
  --d8x-color-warning-secondary: #FFBDBD;

  // Additional colors
  --d8x-color-background-header: var(--d8x-color-background-items);
  --d8x-color-background-icon: var(--d8x-color-background-items);
  --d8x-color-background-order-block: var(--d8x-color-background);
  --d8x-color-background-card-content: var(--d8x-color-background-items);
  --d8x-color-background-order-block-bottom: var(--d8x-color-background);
  --d8x-color-background-table-holder: var(--d8x-color-background-items);
  --d8x-color-background-table-header: var(--d8x-color-background-items);
  --d8x-color-background-table-row-default: var(--d8x-color-background-table-row);
  --d8x-color-background-table-even-row: var(--d8x-color-background-items);
  --d8x-color-text-table-header: var(--d8x-color-text-main);
  --d8x-color-text-table-cell: var(--d8x-color-text-highlight);
  --d8x-color-action-icon: var(--d8x-color-action);
  --d8x-color-background-primary: var(--d8x-color-action);
  --d8x-color-background-primary-hover: rgba(var(--d8x-color-action-rgb), 0.6);
  --d8x-color-background-primary-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-buy-rgba: rgba(var(--d8x-color-background-buy-rgb), 1);
  --d8x-color-background-buy: rgba(var(--d8x-color-background-buy-rgb), 1);
  --d8x-color-background-buy-hover: rgba(var(--d8x-color-background-buy-rgb), 0.9);
  --d8x-color-background-buy-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-sell-rgba: rgba(var(--d8x-color-background-sell-rgb), 1);
  --d8x-color-background-sell: rgba(var(--d8x-color-background-sell-rgb), 1);
  --d8x-color-background-sell-hover: rgba(var(--d8x-color-background-sell-rgb), 0.9);
  --d8x-color-background-sell-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-background-order-option: var(--d8x-color-background-items-inactive);
  --d8x-color-background-order-option-hover: var(--d8x-color-background-items-inactive);
  --d8x-color-background-order-option-selected: var(--d8x-color-action);
  --d8x-color-text-order-option: var(--d8x-color-text-primarytab-inactive);
  --d8x-color-text-order-option-hover: var(--d8x-color-action);
  --d8x-color-text-order-option-selected: var(--d8x-color-text-secondary);

  // Override colors for toastify
  --toastify-color-progress-success: #664ADF;
  --toastify-color-progress-error: #FFBDBD;
  --toastify-color-progress-warning: #FFBDBD;
  --toastify-color-progress-info: #FFBDBD;
  --toastify-color-progress-light: linear-gradient(to right, #FFDA9F, #FFBDBD, #000);
}
