/* stylelint-disable-next-line import-notation */
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@300;400;500;600;700&display=swap');
@import 'theme/theme';
@import 'colors';

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--d8x-text-color);
  background-color: var(--d8x-background);
  font-family: $d8x-font-primary, sans-serif !important;
  font-size: $d8x-font-size-body;
  line-height: $d8x-line-height-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  > div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/*
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: textfield;
}
*/
