@import '~styles/theme/_theme.scss';

.mainBlock {
  padding: 32px;
  flex: 1;
  background: var(--d8x-background-white);

  @include media-tablet {
    border-radius: $d8x-border-radius;
  }
}

.tabsContainer {
  width: 186px;

  // font-size: 1rem;
  margin-bottom: 16px;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--d8x-color-black-200);
}

.contentBlock {
  display: flex;
  padding-top: 32px;

  @include media-tablet {
    flex-direction: column;
    gap: $d8x-spacing * 4;
  }
}
