@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  margin-top: $d8x-spacing;
}

.buyButton {
  width: 100%;
}

.dialog {

  :global(.MuiPaper-root) {
    max-width: 500px;
    width: 100%;
  }
}

.emphasis {
  background-color: var(--d8x-color-background-items-second);
  padding: $d8x-spacing * 5 $d8x-spacing * 8;
}

.semibold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.left {
  color: var(--d8x-color-text-label-two);
}

.centered {
  display: block;
  text-align: center;
}

.orderDetails {
  margin-top: $d8x-spacing * 3;
  margin-bottom: $d8x-spacing * 3;
}

.newPositionHeader {
  margin-top: $d8x-spacing * 3;
  margin-bottom: $d8x-spacing * 3;
}

.newPositionDetails {
  margin-top: $d8x-spacing * 3;
  margin-bottom: $d8x-spacing * 3;
}

.validityMessages {
  margin-top: $d8x-spacing * 3;
  margin-bottom: $d8x-spacing * 2;
}

.goMessage {
  padding: 8px 0 0;
}

@media screen and ($d8x-breakpoint-max-sm) {

  .emphasis {
    padding: $d8x-spacing * 3 $d8x-spacing * 8;
  }

  .dialogTitle {
    font-size: 16px;
    line-height: 20px;
    padding: 24px 16px 16px;
  }

  .dialogActions {
    padding: 16px 16px 24px;
  }

  .rightSide {
    font-size: 10px;
  }
}
