@import '~styles/theme/_theme.scss';

.root {
  width: 100%;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-background-order-block);
}

.bottomCard {
  background-color: var(--d8x-color-background-order-block-bottom);
}

.selectors {
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 6;
  padding-bottom: $d8x-spacing * 6;
}

.separator {
  background-color: var(--d8x-color-background-order-block);
}

@media screen and ($d8x-breakpoint-max-lg) {

  .bottomCard {
    padding-top: 8px;
  }

  .card {
    padding-top: $d8x-spacing * 2;
    padding-bottom: $d8x-spacing * 2;
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) {

  .bottomCard {
    padding-top: $d8x-spacing;
  }

  .card {
    padding-top: $d8x-spacing;
    padding-bottom: $d8x-spacing;
  }
}
