@import '~styles/theme/_theme.scss';

.root {
  width: 100%;
  border-radius: $d8x-border-radius;
}

.bottomCard {
  background-color: var(--d8x-background);
}

.actionIcon {
  margin-bottom: 2.5px;
}

@media screen and ($d8x-breakpoint-max-lg) {

  .bottomCard {
    padding-top: 8px;
  }

  .card {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .actionIcon {
    margin-bottom: 0;
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) and ($d8x-breakpoint-max-lg) {

  .bottomCard {
    padding-top: 4px;
  }

  .card {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
