@import '~styles/theme/theme.scss';
@import '~styles/theme/utils.scss';

.root {
  width: 100%;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-background-order-block);
}

.card {
  &.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $d8x-spacing * 3;
    padding-bottom: $d8x-spacing * 2;
  }

  &.selectors {
    display: flex;
    flex-direction: column;
    gap: 4 * $d8x-spacing;
  }
}

.separator {
  background-color: var(--d8x-color-background-order-block);
}

.depositLink {
  display: inline-flex;
  align-items: center;
  gap: $d8x-spacing;
  margin-top: 2 * $d8x-spacing;
  color: var(--d8x-color-action);
  cursor: pointer;
}

.textOffset {
  margin-top: $d8x-spacing;
}

@media screen and ($d8x-breakpoint-max-lg) {
  .card {
    padding-top: $d8x-spacing * 2;
    padding-bottom: $d8x-spacing * 2;
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) {
  .card {
    padding-top: calc($d8x-spacing / 2);
    padding-bottom: calc($d8x-spacing / 2);
  }
}
