@import 'styles/theme/theme';

.root {
  width: 100%;
  border-radius: $d8x-border-radius;
}

.bottomCard {
  background-color: var(--d8x-background);
}

@media screen and ($d8x-breakpoint-max-xs) {

  .bottomCard {
    padding-top: 8px;
  }

  .card {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
