@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-left: $d8x-spacing * 3;
  padding-right: $d8x-spacing * 3;
  border-radius: $d8x-spacing;
}

.menuHolder {

  :global(.MuiPaper-root) {
    color: var(--d8x-color-black-maintext);
    background-color: var(--d8x-background);
  }
}

.selectedCollateral {
  display: flex;
  align-items: center;
  gap: $d8x-spacing * 2;

  .label {
    color: var(--d8x-color-black-600);
  }

  .value {
    font-weight: 600;
    color: var(--d8x-color-purple);
  }
}

.arrowDropDown {
  color: var(--d8x-color-purple);
  padding-top: $d8x-spacing * 2;
}

.menuItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $d8x-spacing * 2;
  color: var(--d8x-color-black-maintext);

  &.selected {
    background-color: var(--d8x-background-purple);
  }
}

.tokenIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -5px;
}
