@import 'styles/theme/theme';

.dialogRoot {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
}

.title {
  text-align: center;
}

.actionButtonsContainer {
  display: flex;
  gap: 6 * $d8x-spacing;
}

.input {
  width: 100%;
  background-color: var(--d8x-color-black-100);

  input {
    width: 100%;
  }
}

.cancelButton {
  width: 150px;
}

.enterCodeButton {
  width: 220px;
}
