@import '~styles/theme/_theme.scss';

:global(.MuiDialog-paper) {
  border-radius: $d8x-border-radius;
}

.dialogRoot {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
}

.title {
  text-align: center;
}

.actionButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 6 * $d8x-spacing;
}

.input {
  width: 100%;
  background-color: var(--d8x-color-black-100);

  input {
    width: 100%;
  }
}

.infoText {
  margin-top: -4 * $d8x-spacing;
  color: var(--d8x-color-black-400);
}

.cancelButton {
  width: 150px;
}

.enterCodeButton {
  width: 220px;
}

@media screen and ($d8x-breakpoint-max-xs) {

  .actionButtonsContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 4 * $d8x-spacing;
  }

  .enterCodeButton,
  .cancelButton {
    width: 100%;
    height: 50px;
  }
}
