@import '~styles/theme/_theme.scss';

.root {

  .circle,
  .letter {
    transition: transform 0.5s;
  }

  &:hover {

    .circle,
    .letter {
      transform: translateX(-35px);
    }
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    width: 110px;
    height: 25px;
  }
}
