@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
  }
}

.baseRebateContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--d8x-color-background-items-second);
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.paddedContainer {
  display: flex;
  flex-direction: column;
  gap: 5 * $d8x-spacing;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.sidesRowValue {
  font-weight: 600;
}

.divider {
  border-bottom: 1px solid var(--d8x-color-separator-border);
}

.kickbackRateInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.kickbackInput {
  max-width: 110px;
  color: var(--d8x-color-text-label-two);
  font-size: 14px;

  input {
    width: 100%;
  }
}

.infoText {
  padding: 0 8 * $d8x-spacing;
  color: var(--d8x-color-text-label-two);
  margin: 4 * $d8x-spacing 0 8 * $d8x-spacing;
}

.codeInputContainer {
  padding: 6 * $d8x-spacing 8 * $d8x-spacing 0 * $d8x-spacing;
}

.codeInput {
  width: 100%;

  input {
    width: 100%;
    font-size: 14px;
  }
}

.actionButton {
  width: 200px;
}

.modifyCodeButton {
  width: 200px;
  margin-left: 30 * $d8x-spacing;
}

@media screen and ($d8x-breakpoint-max-xs) {
  .kickbackRateInputContainer {
    gap: 5 * $d8x-spacing;
  }

  .actionButton,
  .modifyCodeButton {
    width: 100%;
    height: 50px;
  }

  .modifyCodeButton {
    margin-left: 0;
  }
}
