@import '~styles/theme/_theme.scss';

:global(.MuiDialog-paper) {
  border-radius: $d8x-border-radius;
}

.dialogRoot {
  width: 100%;
  padding: 10 * $d8x-spacing 0 8 * $d8x-spacing 0;
}

.title {
  text-align: center;
  margin-bottom: 8 * $d8x-spacing;
}

.baseRebateContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--d8x-color-black-50);
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.paddedContainer {
  display: flex;
  flex-direction: column;
  gap: 5 * $d8x-spacing;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.sidesRowValue {
  font-weight: 600;
  font-size: 16px;
}

.divider {
  border-bottom: 1px solid var(--d8x-color-black-150);
}

.kickbackRateInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.kickbackInput {
  background-color: var(--d8x-color-black-100);
  max-width: 110px;
  color: var(--d8x-color-black-400);

  input {
    width: 100%;
  }
}

.infoText {
  padding: 0 8 * $d8x-spacing;
  color: var(--d8x-color-black-400);
  margin: 4 * $d8x-spacing 0 8 * $d8x-spacing;
}

.codeInputContainer {
  padding: 6 * $d8x-spacing 8 * $d8x-spacing 0 * $d8x-spacing;
}

.codeInput {
  background-color: var(--d8x-color-black-100);
  width: 100%;

  input {
    width: 100%;
  }
}

.dialogActionsContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 8 * $d8x-spacing;
}

.actionButton {
  width: 200px;
}

.modifyCodeButton {
  width: 200px;
  margin-left: 30 * $d8x-spacing;
}

@media screen and ($d8x-breakpoint-max-xs) {

  .kickbackRateInputContainer {
    gap: 5 * $d8x-spacing;
  }

  .dialogActionsContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 4 * $d8x-spacing;
  }

  .actionButton,
  .modifyCodeButton {
    width: 100%;
    height: 50px;
  }

  .modifyCodeButton {
    margin-left: 0;
  }
}
