@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 500px;
  }
}

.dialogContent {
  font-size: 16px;
  line-height: 24px;
}

.dialogAction {
  justify-content: center;
}

.section {
  margin: $d8x-spacing * 4 0;
}

.dataLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $d8x-spacing * 4;

  .label {
    min-width: 80px;
    font-size: 14px;
  }

  .inputHolder {
    flex: 1;

    .input {
      width: 100%;
    }
  }

  @include media-phone {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .label {
      min-width: inherit;
    }
  }
}

.helperText {
  cursor: pointer;
  text-align: right;
  margin-top: calc($d8x-spacing / 2);

  a {
    cursor: pointer;
    color: var(--d8x-color-action);
  }
}

.noteText {
  display: block;
  margin: $d8x-spacing * 8 0;
}

.copyText {
  font-size: 12px;
}
