@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 500px;
  }
}

.actionButton {
  height: 48px;
  font-size: 16px;
}

.section {
  margin: $d8x-spacing * 4 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: $d8x-spacing * 4;

  .button {
    flex: 1;
    min-width: 120px;
    padding-left: $d8x-spacing * 4;
    padding-right: $d8x-spacing * 4;
  }

  @include media-phone {
    flex-direction: column;

    .button {
      width: 100%;
    }
  }
}

.noteText {
  display: block;
  margin: $d8x-spacing * 8 0;
}
