@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swapButton {
  width: 100%;
  justify-content: center;
  border-radius: 8px;
}

.inputRoot {
  flex: 1;
}

.inputClassName {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;

  + .row {
    margin-top: 16px;
  }
}

.applyMax {
  justify-content: flex-end;
  padding-right: 8px;
  margin-top: 8px !important;
}

.text {
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 10px;
  color: var(--d8x-color-text-highlight);

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.helperText {
  color: var(--d8x-color-black);
}

.addMaxLink {
  cursor: pointer;
}
