@import '~styles/theme/theme.scss';

.root {
  position: relative;
  flex: 1;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  background-color: var(--d8x-color-background-items);
  border-radius: 0 $d8x-border-radius $d8x-border-radius 0;
  max-width: 400px;
}

.title {
  font-weight: 600;
  color: var(--d8x-color-text-main);
  margin-bottom: $d8x-spacing * 6;
}

.note {
  display: inline-block;
  margin-bottom: $d8x-spacing * 6;
}

.button {
  width: 100%;
}

.loaderWrapper {
  position: absolute;
  inset: 0;
  margin: $d8x-spacing * 6 $d8x-spacing * 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--d8x-color-background-items-selected);
  border-radius: $d8x-border-radius;
}

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 450px;
  }
}

.dialogRoot {
  width: 100%;
  padding: 6 * $d8x-spacing 0 4 * $d8x-spacing 0;
  text-align: center;
}

.dialogAction {
  justify-content: center;

  .button {
    min-width: 140px;
  }
}
