@import 'styles/theme/theme';

.root {
  border-radius: 0 $d8x-border-radius $d8x-border-radius $d8x-border-radius;
}

.refreshHolder {
  text-align: right;
  padding-right: $d8x-spacing;
}

.actionIcon {
  cursor: pointer;
  transition: opacity linear 200ms;

  &:hover {
    opacity: 0.7;
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.helperText {
  text-align: right;
  margin-top: $d8x-spacing / 2;
}

.tableHead {
  background-color: var(--d8x-color-white);
}

.tableBody {
  background-color: var(--d8x-color-white-opac);
}

.noData {
  text-align: center;
}

.paginationHolder {
  display: flex;
  justify-content: center;
}

.dialog {

  :global(.MuiPaper-root) {
    max-width: 400px;
    width: 100%;
  }
}

.centered {
  display: block;
  text-align: center;
}

.newPositionHeader {
  margin-top: $d8x-spacing * 3;
  margin-bottom: $d8x-spacing * 3;
}

.newPositionDetails {
  margin-top: $d8x-spacing * 3;
  margin-bottom: $d8x-spacing * 3;
}
