@import '~styles/theme/_theme.scss';
@import '~styles/theme/_utils.scss';

.holderRoot {
  display: flex;
  align-items: center;
  gap: 0.5 * $d8x-spacing;
  background-color: white;
  border-radius: 8px;
  height: 82px;
}

.iconWrapper {
  @include flex-center;

  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  background-color: var(--d8x-color-white);
  color: var(--d8x-color-purple);
  margin-left: $d8x-spacing * 3;

  svg {
    width: 20px;
    height: 20px;
  }
}

.marketSelectButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: $d8x-spacing * 3;
  border-radius: $d8x-spacing * 2;
  border-color: transparent;
}

.arrowDropDown {
  color: var(--d8x-color-purple);
  padding-top: 2 * $d8x-spacing;
}

.selectBlock {
  border-radius: $d8x-spacing;
  border: 1px solid silver;

  :global(.MuiSelect-select) {
    background-color: transparent !important;
  }

  :global(.MuiInputBase-root) {
    min-width: 240px;
    color: var(--d8x-color-purple);
    font-weight: 600;
  }

  :global(.MuiInputLabel-root):global(.Mui-focused) {
    color: var(--d8x-color-black);
  }

  :global(.MuiInputLabel-root) {
    color: var(--d8x-color-black-500);
  }
}

.selectedMarketBlock {
  text-align: left;
}

.selectedMarketLabel {
  color: var(--d8x-color-black-500);
  line-height: 32px;
}

.selectedMarketValue {
  display: flex;
  flex-direction: column;
  color: var(--d8x-color-purple);

  .selectedMarketPerpetual {
    font-weight: 600;
    line-height: 12px;
  }
}

.collateralFilter {
  width: 100%;
}

.dialog {

  :global(.MuiDialog-container) {
    align-items: flex-start;
  }

  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 350px;
    border-radius: $d8x-border-radius;
  }
}

.dialogAction {
  margin-top: $d8x-spacing * 6;
  justify-content: center;
}

.optionsHeader {
  display: block;
  padding: 12px;

  .header {
    color: var(--d8x-color-black-maintext);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
}

.optionHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: $d8x-spacing;

  .label {
    font-weight: bold;
    font-size: 0.875rem;

    div {
      font-size: 0.625rem;
    }
  }

  .value {
    text-align: right;
    font-weight: bold;
    font-size: 0.75rem;
  }
}

.selectedOption {
  background-color: var(--d8x-background-purple);
}

.optionLeftBlock {
  display: flex;
  gap: 8px;
  align-items: center;
}

.optionRightBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.priceChange {
  text-align: right;
  font-weight: bold;
  font-size: 0.625rem;

  .buyPrice {
    color: rgba(var(--d8x-background-buy-rgb), 1);
  }

  .sellPrice {
    color: rgba(var(--d8x-background-sell-rgb), 1);
  }
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 16px;
}

@media screen and ($d8x-breakpoint-max-lg) {

  .selectedMarketLabel {
    line-height: 24px;
  }

  .selectedMarketValue {

    .selectedMarketPerpetual {
      font-size: 16px;
    }
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .holderRoot {
    height: 72px;
    min-width: 350px;
    max-width: 350px;
  }

  .iconWrapper {
    margin-left: $d8x-spacing * 2;
  }

  .marketSelectButton {
    padding: $d8x-spacing * 2;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .holderRoot {
    width: 100%;
    min-width: inherit;
    max-width: inherit;
  }

  .selectedMarketValue {

    .selectedMarketPerpetual {
      font-size: 14px;
      line-height: 8px;
    }
  }
}
