@import '~styles/theme/theme.scss';

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  background-color: var(--d8x-color-background);
}

@media screen and ($d8x-breakpoint-max-xs) {
  .dialogContent {
    gap: 2 * $d8x-spacing;
    padding: 3 * $d8x-spacing 4 * $d8x-spacing;

    :global(.MuiContainer-root) {
      > :global(.MuiBox-root) {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        > :global(.MuiPaper-root) {
          margin-left: 0 !important;
          margin-right: 0 !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }
  }
}
