@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  justify-content: center;
  gap: $d8x-spacing * 8;
  margin-top: $d8x-spacing * 2;
  margin-bottom: $d8x-spacing * 4;

  button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
}

.selected {
  color: var(--d8x-color-purple);
  background-color: var(--d8x-color-purple-50);
}

@media screen and ($d8x-breakpoint-height-max-md) {

  .root {
    margin-bottom: 3 * $d8x-spacing;
  }
}
