@import '~styles/theme/theme.scss';

.root {
  display: flex;
  justify-content: center;
  gap: $d8x-spacing * 8;
  margin-top: $d8x-spacing * 2;
  margin-bottom: $d8x-spacing * 4;

  button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: $d8x-spacing;
    padding-top: 2 * $d8x-spacing;
  }
}

.selected {
  color: var(--d8x-color-action);
  background-color: var(--d8x-color-action-secondary);
}

@media screen and ($d8x-breakpoint-height-max-md) {
  .root {
    margin-bottom: 4 * $d8x-spacing;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .root {
    button {
      font-size: 14px;
      max-height: 40px;
    }
  }
}
