@import '~styles/theme/theme.scss';
@import '~styles/theme/utils.scss';

.root {
  display: flex;
  justify-content: flex-start;
  gap: $d8x-spacing * 4;
}

.type {
  @include transition(color);

  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: $d8x-spacing;
  padding-top: 2 * $d8x-spacing;
  color: var(--d8x-color-text-label-two);

  &::after {
    @include transition(opacity);

    content: ' ';
    position: absolute;
    left: -($d8x-spacing * 0.5);
    right: -($d8x-spacing * 1);
    bottom: -($d8x-spacing * 3.5);
    top: inherit;
    border-bottom: 2px solid var(--d8x-color-action);
    opacity: 0;
  }

  &:hover {
    color: var(--d8x-color-action);
    cursor: pointer;
  }

  &.selected {
    color: var(--d8x-color-action);
    user-select: none;
    pointer-events: none;

    &::after {
      opacity: 1;
    }
  }
}
