@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    max-width: initial;
  }
}

.contentBlock {
  display: flex;
  flex-flow: column;
  padding: 0;
  color: var(--d8x-color-text-main);
}

.backgroundContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;

  svg {
    height: 100%;
    width: 100%;
  }
}

.statsContainer {
  min-width: 372px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  z-index: 1;
  white-space: nowrap;
}

.titleBlock {
  display: flex;
  gap: 10px;
}

.sideShort {
  color: var(--d8x-color-text-sell);
}

.sideLong {
  color: var(--d8x-color-text-buy);
}

.pnlPercent {
  color: var(--d8x-color-text-sell);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.pnlPercentPositive {
  color: var(--d8x-color-text-buy);
}

.pricesContainer {
  min-width: 70%;
  width: 183px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.priceLine {
  display: flex;
  justify-content: space-between;
}

.originLink {
  color: var(--d8x-color-action);
  margin-top: 60px;
  max-width: 40ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shareBlock {
  padding: 24px;
  text-align: center;
  font-size: 0.625rem;
  line-height: 2;
}

.downloadButton {
  cursor: pointer;
}

.modalActions {
  margin: auto;
}
