@import '~styles/theme/_theme.scss';

.root {
  @include media-desktop {
    height: 25px;
  }

  .circle {
    fill: var(--d8x-icon-color);
  }

  .letter {
    fill: var(--d8x-logo-second-color);
  }

  .circle,
  .letter {
    transition: transform 0.5s;
  }

  &:hover {

    .circle,
    .letter {
      transform: translateX(-35px);
    }
  }
}
