@import '~styles/theme/_theme.scss';

.root {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $d8x-spacing * 3;
  flex: 1;
  overflow-x: auto;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 150px;
  width: 100%;
}

@media screen and ($d8x-breakpoint-max-md) {

  .container {
    gap: $d8x-spacing * 4;
    margin-top: $d8x-spacing * 3;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .body {
    padding: 0 $d8x-spacing * 3;
  }
}
