@import 'styles/theme/theme';

.root {
  width: 100%;
  display: flex;
  gap: 3 * $d8x-spacing;
}

.statContainer {
  flex: 1;
  padding: 5 * $d8x-spacing 6 * $d8x-spacing;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-white);
}

.statLabel {
  display: block;
  white-space: nowrap;
  margin-bottom: $d8x-spacing * 0.5;
  color: var(--d8x-color-black-500);
}

.statValue {
  display: block;
  color: var(--d8x-color-purple);
  white-space: nowrap;
  font-weight: 600;
}

@media screen and ($d8x-breakpoint-max-sm) {

  .root {
    justify-content: start;
    overflow-x: auto;
  }
}
