@import 'styles/theme/theme';

.root {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--d8x-color-white);
  border-radius: $d8x-border-radius;
  padding: 0.5rem 0;
}

.statContainer {
  flex: 1;
  padding-right: $d8x-spacing * 2;
  padding-left: $d8x-spacing * 2;
  text-align: left;

  & + & {
    border-left: 1px solid var(--d8x-side-border-color);
  }
}

.statLabel {
  display: block;
  white-space: nowrap;
  margin-bottom: $d8x-spacing * 0.5;
}

.statValue {
  display: block;
  color: var(--d8x-color-purple);
  white-space: nowrap;
  font-weight: 600;
}

@media screen and ($d8x-breakpoint-max-sm) {

  .root {
    justify-content: start;
    overflow-x: auto;
  }
}
