@import 'styles/theme/theme';

.root {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--d8x-color-white);
  border-radius: $d8x-border-radius;
  padding: 0.5rem 0;
}

.statContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  flex: 1;
  max-width: 180px;
  min-width: 100px;

  & + & {
    border-left: 1px solid var(--d8x-side-border-color);
  }
}

.statValue {
  color: var(--d8x-color-purple);
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    justify-content: start;
    overflow-x: auto;
  }
}
