@import '~styles/theme/_theme.scss';
@import '~styles/theme/_utils.scss';

.optionHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: $d8x-spacing;

  .label {
    font-weight: bold;
  }

  .value {
    text-align: right;
    font-weight: bold;
  }

  .status {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bold;
  }
}

.selectedOption {
  background-color: var(--d8x-color-background-items-selected);
}

.optionLeftBlock {
  display: flex;
  gap: 8px;
  align-items: center;

  .iconHolder {
    width: 24px;
    height: 24px;
  }
}

.optionRightBlock {
  display: flex;
  flex-direction: column;
}

.priceChange {
  text-align: right;
  font-weight: bold;
  font-size: 0.625rem;

  &.buyPrice {
    color: var(--d8x-color-buy-rgba);
  }

  &.sellPrice {
    color: var(--d8x-color-sell-rgba);
  }
}
