@import 'styles/theme/theme';
@import 'styles/theme/utils';

.root {
  width: 100%;
}

.holderRoot {
  display: flex;
  align-items: center;
  gap: 0.5 * $d8x-spacing;
}

.iconWrapper {
  @include flex-center;

  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  background-color: var(--d8x-color-white);
}

.autocomplete {

  :global(.MuiInputLabel-root):global(.Mui-focused) {
    color: var(--d8x-color-black);
  }

  :global(.MuiInputLabel-root) {
    color: var(--d8x-color-black);
  }
}

.optionsHolder {
  overflow-y: auto;
  max-height: 400px;
}

.optionsHeader {
  display: flex;
  padding: 12px;
  align-items: center;

  .leftLabel {
    flex: 1;
  }

  .rightLabel {
    width: 100px;
    text-align: right;
  }
}

.optionHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .label {
    font-weight: bold;
  }

  .value {
    text-align: right;
    font-weight: bold;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    margin-left: 0;
    margin-right: 0;
  }

  .paper {
    width: 100%;
    min-width: 250px;
    max-width: 300px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    max-width: 100%;
  }
}
