@import 'styles/theme/theme';

.root {
  width: 100%;
  margin-left: $d8x-spacing * 4;
  margin-right: $d8x-spacing * 4;
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    margin-left: 0;
    margin-right: 0;
  }

  .paper {
    width: 100%;
    min-width: 250px;
  }
}
