@import 'styles/theme/theme';

.root {
  width: 100%;
  margin-right: $d8x-spacing * 4;
  min-width: 260px;
}

.autocomplete {

  :global(.MuiOutlinedInput-root) {

    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: rgba(var(--d8x-color-purple-rgb), 0.5);
    }

    &:hover {

      :global(.MuiOutlinedInput-notchedOutline) {
        border-color: var(--d8x-color-purple);
      }
    }
  }

  :global(.MuiInputLabel-root):global(.Mui-focused) {
    color: var(--d8x-color-purple);
  }

  :global(.MuiInputLabel-root) {
    color: var(--d8x-color-black);
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    margin-left: 0;
    margin-right: 0;
  }

  .paper {
    width: 100%;
    min-width: 250px;
  }
}
