@import '~styles/theme/_theme.scss';
@import '~styles/theme/_utils.scss';

.root {
  width: 100%;
}

.holderRoot {
  display: flex;
  align-items: center;
  gap: 0.5 * $d8x-spacing;
  color: var(--d8x-color-purple);
}

.iconWrapper {
  @include flex-center;

  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  background-color: var(--d8x-color-white);

  svg {
    width: 20px;
    height: 20px;
  }
}

.autocomplete {

  :global(.MuiSelect-select) {
    background-color: transparent !important;
  }

  :global(.MuiInputBase-root) {
    min-width: 240px;
    color: var(--d8x-color-purple);
    font-weight: 600;
  }

  :global(.MuiInputLabel-root):global(.Mui-focused) {
    color: var(--d8x-color-black);
  }

  :global(.MuiInputLabel-root) {
    color: var(--d8x-color-black-500);
  }
}

.optionsHolder {
  overflow-y: auto;
  max-height: 400px;
}

.optionsHeader {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: $d8x-spacing * 4;

  .leftLabel {
    flex: 1;
    margin-right: 4px;
  }

  .rightLabel {
    width: 100px;
    text-align: right;
  }

  .header {
    color: var(--d8x-color-black-maintext);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 200% */
  }
}

.optionHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: $d8x-spacing;

  .label {
    font-weight: bold;
  }

  .value {
    text-align: right;
    font-weight: bold;
  }
}

@media screen and ($d8x-breakpoint-max-lg) and ($d8x-breakpoint-min-md) {

  .autocomplete {

    :global(.MuiInputBase-root) {
      min-width: 200px;
    }
  }

  .optionHolder {
    font-size: 14px;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    margin-left: 0;
    margin-right: 0;
  }

  .autocomplete {

    :global(.MuiInputBase-root) {
      min-width: 220px;
    }
  }

  .paper {
    width: 100%;
    min-width: 250px;
    max-width: 300px;
  }

  .holderRoot {
    background-color: var(--d8x-background-white);
    border-radius: $d8x-spacing * 2;
    padding: $d8x-spacing * 2;
    max-height: 58px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    max-width: 100%;
  }

  .autocomplete {

    :global(.MuiInputBase-root) {
      min-width: initial;
      font-size: 14px;
    }

    :global(.MuiInputLabel-root) {
      font-size: 12px;
    }
  }

  .holderRoot {
    flex: 1;
    padding: $d8x-spacing;
  }

  .iconWrapper {
    display: none;
  }
}

@media screen and ($d8x-breakpoint-min-lg) {

  .autocomplete {
    border-radius: $d8x-spacing * 2;

    &:hover {
      background-color: var(--d8x-color-black-150);
    }
  }
}

.select {

  :global(.MuiList-root) {
    display: flex;
    flex-direction: column;
  }
}
