@import '~styles/theme/_theme.scss';

.root {

  &:nth-child(2n) {
    background-color: var(--d8x-color-black-50);
  }
}

.bodyCell {
  color: var(--d8x-color-black-maintext);
  padding: 2 * $d8x-spacing 4 * $d8x-spacing;
}

.codeCell {
  border-radius: $d8x-border-radius 0 0 $d8x-border-radius;
}

.buttonCell {
  width: 90px;
}

.modifyCell {
  border-radius: 0 $d8x-border-radius $d8x-border-radius 0;
}
