@import '~styles/theme/theme.scss';

.root {
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  flex: 1;
  background-color: var(--d8x-color-background-items);
  border-radius: 0 $d8x-border-radius $d8x-border-radius 0;

  @include media-tablet {
    border-radius: 0 0 $d8x-border-radius $d8x-border-radius;
  }
}

.firstComponent {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include media-tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}

.subComponent {
  flex: 1;
  max-width: 305px;
}

.labelHolder {
  display: flex;
  justify-content: flex-start;
  margin: 8 * $d8x-spacing 0 4 * $d8x-spacing;
}

.volumeValue {
  margin-bottom: 10 * $d8x-spacing;

  @include media-tablet {
    margin-bottom: 3 * $d8x-spacing;
  }
}

.meterHolder {
  display: inline-block;
  max-width: 300px;
  width: 100%;
}

.boostsData {
  margin-top: $d8x-spacing * 4;

  .boostLine {
    display: flex;
    gap: $d8x-spacing * 2;
    align-items: center;
  }
}
