@import '~styles/theme/_theme.scss';

.root {
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  flex: 1;
  background-color: var(--d8x-color-background-items);
  border-radius: 0 $d8x-border-radius $d8x-border-radius 0;

  @include media-tablet {
    border-radius: 0 0 $d8x-border-radius $d8x-border-radius;
  }
}

.labelHolder {
  display: flex;
  justify-content: flex-start;
  margin: 4 * $d8x-spacing 0;
}

.volumeValue {
  margin-bottom: 10 * $d8x-spacing;
}

.meterHolder {
  display: inline-block;
  max-width: 300px;
  width: 100%;
}
