@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 500px;
  }
}

.section {
  margin: $d8x-spacing * 6 0;
}

.widgetButtons {
  display: flex;
  justify-content: space-between;
  gap: 4 * $d8x-spacing;

  @include media-phone {
    flex-direction: column;
    align-items: center;
  }

  .actionButton {
    min-width: 200px;
  }
}

.noteText {
  display: block;
  margin: $d8x-spacing * 6 0;
}

.copyText {
  font-size: 12px;
}

.orSeparator {
  padding: 0 $d8x-spacing * 25;
  margin-top: $d8x-spacing * 8;
  margin-bottom: $d8x-spacing * 8;
}

.dataLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: $d8x-spacing * 4;
  margin-bottom: $d8x-spacing * 4;

  .inputHolder {
    flex: 1;
  }

  .input {
    height: 42px;
  }

  @include media-phone {
    flex-direction: column;
    align-items: center;
  }
}

.helperText {
  cursor: pointer;
  margin-top: calc($d8x-spacing / 2);

  a {
    cursor: pointer;
    color: var(--d8x-color-action);
  }
}
