@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: $d8x-spacing * 2.5;
}

.sidesContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow-x: hidden;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 2.5;
  overflow-x: auto;
  margin: 0 auto;
  flex: 1;
}

.leftBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 2.5;
  overflow-x: hidden;
}

.rightBlock {
  flex: 1;
  max-width: 450px;
  min-width: 450px;
  margin-left: $d8x-spacing * 2.5;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.headerContainer.swapSides,
.sidesContainer.swapSides {
  flex-direction: row-reverse;

  .rightBlock {
    margin-left: 0;
    margin-right: $d8x-spacing * 2.5;
  }
}

@media screen and ($d8x-breakpoint-max-lg) {

  .rightBlock {
    max-width: 400px;
    min-width: 400px;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .headerContainer {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 0;

    .leftBlock {
      margin-bottom: $d8x-spacing * 2.5;
    }

    .rightBlock {
      margin: $d8x-spacing * 4 auto 0;
      align-items: center;
    }
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    padding: 0 12px;
  }

  .headerContainer {

    .rightBlock {
      width: 100%;
      max-width: inherit;
      min-width: inherit;
    }
  }
}
