@import 'styles/theme/theme';

.root {
  display: flex;
  flex-direction: column;
}

.sidesContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow-x: hidden;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 2.5;
  overflow-x: auto;
  max-width: 1000px;
  margin: 0 auto;
  flex: 1;
}

.leftBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 2.5;
  max-width: 900px;
}

.rightBlock {
  flex: 1;
  max-width: 600px;
  margin-left: $d8x-spacing * 2.5;
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    margin: 0 12px;
  }
}
