@import '~styles/theme/_theme.scss';

.root {
  margin-top: 4 * $d8x-spacing;
  margin-bottom: 8 * $d8x-spacing;

  :global(.MuiPaper-root) {
    height: 48px;
  }

  :global(.MuiOutlinedInput-root) {
    width: 100%;
    background-color: var(--d8x-background-white);
  }
}

.toolbar {
  align-items: center;
  padding: 8px 32px 0;
  margin: -16px -32px 0;
  min-height: 80px;
  background-color: var(--d8x-background-white);
}

.leftSide {
  display: flex;
  flex: 1;
  gap: 8 * $d8x-spacing;

  .navWrapper {
    display: flex;
    gap: 8 * $d8x-spacing;
  }
}

.navMobileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: $d8x-spacing * 10;
  padding-bottom: $d8x-spacing * 10;
  gap: $d8x-spacing * 6;
}

.navMobileItem,
.navItem {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;

  &.inactive {
    position: relative;
    color: var(--d8x-color-black-maintext);

    &:hover {
      color: var(--d8x-color-purple);
      cursor: pointer;
      transition: 200ms ease-in-out;
    }
  }

  &.active {
    color: var(--d8x-color-purple);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -$d8x-spacing;
      width: 100%;
      border-bottom: 1px solid var(--d8x-color-purple-300);
    }
  }
}

.navMobileItem {

  &.active {
    text-decoration: underline;
    text-underline-offset: 8px;

    &::after {
      border-bottom: none;
    }
  }
}

.settings {
  padding: $d8x-spacing * 10;
  padding-bottom: 0;
}

.languageSwitcher {
  padding: $d8x-spacing * 10;
  padding-top: $d8x-spacing * 6;
}

.closeAction {
  margin-top: auto;
  text-align: center;
  padding: $d8x-spacing * 10;
}

.menuButton {
  margin-left: $d8x-spacing * 4;
  padding: 0;
  min-width: 48px;
  height: 48px;
}

.logoLink {
  display: flex;
  line-height: 1;
}

.selectBoxes {
  display: flex;
  gap: $d8x-spacing * 6;
  margin-right: $d8x-spacing * 6;
}

.walletConnect {
  justify-content: right;
  display: flex;
  height: 48px;
  gap: 15px;
}

@media screen and ($d8x-breakpoint-max-lg) {

  .toolbar {
    padding: 8px 16px 0;
    margin: -16px -16px 0;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    margin-bottom: 0;

    :global(.MuiPaper-root) {
      height: inherit;
    }
  }

  .leftSide {
    width: auto;
  }

  .toolbar {
    min-height: 80px;
    padding: 0 40px;
    margin: -16px -40px 0;
  }

  .menuButton {
    margin-left: $d8x-spacing * 2;
  }
}

@media screen and ($d8x-breakpoint-max-sm) {

  .toolbar {
    min-height: 80px;
    padding: 0 24px;
    margin: -16px -24px 0;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    padding: 0 12px;

    :global(.MuiPaper-root) {
      height: auto;
    }
  }

  .toolbar {
    padding: 0 12px;
    margin: -16px -12px 0;
    min-height: 72px;
    background-color: var(--d8x-background-white);
  }
}
