@import 'styles/theme/theme';

.root {
  margin-top: $d8x-spacing * 2;
  margin-bottom: $d8x-spacing * 2;

  :global(.MuiPaper-root) {
    height: 80px;
  }
}

.toolbar {
  align-items: center;
  min-height: 100px;
  padding: 0;
}

.leftSide {
  display: flex;
  width: 900px;
}

.logoLink {
  line-height: 1;
}

.selectBoxes {
  display: flex;
  flex-grow: 2;
}

.mobileBox {
  display: flex;
  justify-content: center;
  margin-bottom: $d8x-spacing * 2;
}

.mobileSelectBoxes {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
  justify-content: center;
}

.walletConnect {
  justify-content: right;
  display: flex;
  flex-grow: 1;
  gap: 15px;
}

.loyaltyBox {
  display: flex;
  flex-grow: 1;
  justify-content: right;
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {

    :global(.MuiPaper-root) {
      height: 150px;
    }
  }

  .leftSide {
    width: auto;
  }

  .toolbar {
    min-height: 80px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {

    :global(.MuiPaper-root) {
      height: 280px;
    }
  }

  .mobileSelectBoxes {
    flex-direction: column;
  }
}
