@import '~styles/theme/theme.scss';
@import '~styles/theme/utils.scss';

.root {
  margin-bottom: 6 * $d8x-spacing;
  border-bottom: 1px solid var(--d8x-block-border-color);

  :global(.MuiPaper-root) {
    height: 80px;
  }

  :global(.MuiOutlinedInput-root) {
    width: 100%;
    background-color: var(--d8x-color-background-items);
  }
}

.headerHolder {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.menuTitle {
  font-size: 16px;
  line-height: 19px;
  color: var(--d8x-color-text-main);
}

.closeButton {
  padding: 0;
  min-width: 25px !important;
}

.mainLogoHolder,
.drawerLogoHolder {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3 * $d8x-spacing;
}

.betaTag {
  margin-bottom: -3 * $d8x-spacing;
  color: var(--d8x-color-text-main);
  font-size: 14px;
}

.toolbar {
  align-items: center;
  padding: 0 32px;
  margin: 0 -32px;
  min-height: 80px;
  background-color: var(--d8x-color-background-header);
}

.leftSide {
  display: flex;
  flex: 1;
  gap: 12 * $d8x-spacing;
  align-items: center;

  .navWrapper {
    display: flex;
    gap: 10 * $d8x-spacing;

    > a {
      @include transition(color);

      text-decoration: none;

      &::after {
        @include transition(opacity);

        content: ' ';
        position: absolute;
        left: -($d8x-spacing * 2);
        right: -($d8x-spacing * 2);
        bottom: -($d8x-spacing * 7.25);
        top: inherit;
        border-bottom: 2px solid var(--d8x-color-action);
        opacity: 0;
      }

      &:hover {
        color: var(--d8x-color-action);
      }

      &.active {
        color: var(--d8x-color-action);
        user-select: none;
        pointer-events: none;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.rightSide {
  width: 100%;
  max-width: 200px;
}

.navMobileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: $d8x-spacing * 6;
  padding-bottom: $d8x-spacing * 10;
  gap: $d8x-spacing * 6;
}

.pageIcon {
  margin-bottom: -$d8x-spacing;
  margin-right: $d8x-spacing * 2;
}

.navMobileItem,
.navItem {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;

  &.inactive {
    position: relative;
    color: var(--d8x-color-text-main);

    &:hover {
      @include transition(all);

      color: var(--d8x-color-action);
      cursor: pointer;
    }
  }

  &.active {
    color: var(--d8x-color-action);
    position: relative;
    text-decoration: underline;
    text-underline-offset: $d8x-spacing * 2.5;
  }
}

.navMobileItem {
  &.inactive {
    padding: 12px;
    margin: -8px;
  }

  &.active {
    text-decoration: none;
    padding: 12px;
    margin: -8px;

    &::after {
      border-bottom: none;
    }
  }
}

.settings {
  padding: $d8x-spacing * 10;
  padding-bottom: 0;
}

.closeAction {
  margin-top: auto;
  text-align: center;
  padding: $d8x-spacing * 10;
}

.menuButton {
  margin-left: $d8x-spacing * 4;
  padding: 0;
  min-width: 40px;
  height: 40px;
}

.logoLink {
  display: flex;
  line-height: 1;
}

.walletConnect {
  justify-content: right;
  display: flex;
  height: 40px;
  gap: 15px;
}

.buttonsHolder {
  display: flex;
  gap: $d8x-spacing * 4;
  height: 40px;
}

.settingButtonsHolder {
  display: flex;
  margin-left: $d8x-spacing * 2 + 2;
  gap: $d8x-spacing * 2 + 2;
  height: 40px;
}

.settingButtonsHolderMobile {
  display: flex;
  justify-content: center;
  gap: $d8x-spacing * 2 + 2;
  padding: $d8x-spacing * 4 ;
}

.modalButton {
  min-width: 156px;
  height: 40px;
}

@media screen and ($d8x-breakpoint-max-lg) {
  .buttonsHolder {
    gap: $d8x-spacing * 2;
  }

  .toolbar {
    padding: 0 16px;
    margin: 0 -16px;
  }

  .modalButton {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 40px;
  }
}

@media screen and ($d8x-breakpoint-max-md) {
  .root {
    margin-bottom: 0;

    :global(.MuiPaper-root) {
      height: inherit;
    }
  }

  .leftSide {
    width: auto;
  }

  .toolbar {
    min-height: 80px;
    padding: 0 40px;
    margin: 0 -40px;
  }

  .menuButton {
    margin-left: $d8x-spacing * 2;
  }
}

@media screen and ($d8x-breakpoint-max-sm) {
  .toolbar {
    min-height: 80px;
    padding: 0 24px;
    margin: 0 -24px;
  }

  .mobileButtonsBlock {
    background-color: var(--d8x-color-background-items);
    padding: 0 4 * $d8x-spacing;
    margin: 0 (-3 * $d8x-spacing);
  }

  .mobileWalletButtons {
    padding: 4 * $d8x-spacing 0;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .root {
    padding: 0 12px;

    :global(.MuiPaper-root) {
      height: auto;
    }
  }

  .mainLogoHolder,
  .drawerLogoHolder {
    gap: 2 * $d8x-spacing;
  }

  .toolbar {
    padding: 0 12px;
    margin: 0 -12px;
    min-height: 72px;
    background-color: var(--d8x-color-background-items);
  }
}
