@import '~styles/theme/_theme.scss';

.root {
  margin-top: 4 * $d8x-spacing;
  margin-bottom: 8 * $d8x-spacing;

  :global(.MuiPaper-root) {
    height: 48px;
  }

  :global(.MuiOutlinedInput-root) {
    width: 100%;
    background-color: var(--d8x-color-background-items);
  }
}

.headerHolder {
  display: flex;
  flex-direction: column;
}

.mainLogoHolder,
.drawerLogoHolder {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3 * $d8x-spacing;
}

.betaTag {
  margin-bottom: -3 * $d8x-spacing;
  color: var(--d8x-color-text-main);
  font-size: 14px;
}

.betaInfoLine {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  background-color: var(--d8x-color-background-items-second);

  &.hideBetaText {
    display: none;
  }

  .textBlock {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .closeButton {
    cursor: pointer;

    .closeIcon {
      width: 20px;
      height: 20px;
    }
  }
}

.toolbar {
  align-items: center;
  padding: 8px 32px 0;
  margin: -16px -32px 0;
  min-height: 80px;
  background-color: var(--d8x-color-background-header);
}

.leftSide {
  display: flex;
  flex: 1;
  gap: 8 * $d8x-spacing;
  align-items: center;

  .navWrapper {
    display: flex;
    gap: 8 * $d8x-spacing;
  }
}

.rightSide {
  width: 100%;
  max-width: 200px;
}

.navMobileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: $d8x-spacing * 10;
  padding-bottom: $d8x-spacing * 10;
  gap: $d8x-spacing * 6;
}

.pageIcon {
  margin-bottom: -$d8x-spacing;
  margin-right: $d8x-spacing * 2;
}

.navMobileItem,
.navItem {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;

  &.inactive {
    position: relative;
    color: var(--d8x-color-text-main);

    &:hover {
      color: var(--d8x-color-action);
      cursor: pointer;
      transition: 200ms ease-in-out;
    }
  }

  &.active {
    color: var(--d8x-color-action);
    position: relative;
    text-decoration: underline;
    text-underline-offset: $d8x-spacing * 2.5;
  }
}

.navMobileItem {

  &.inactive {
    padding: 12px;
    margin: -8px;
  }

  &.active {
    text-decoration: underline;
    text-underline-offset: $d8x-spacing * 2;
    padding: 12px;
    margin: -8px;

    &::after {
      border-bottom: none;
    }
  }
}

.settings {
  padding: $d8x-spacing * 10;
  padding-bottom: 0;
}

.languageSwitcher {
  padding: $d8x-spacing * 10;
  padding-top: $d8x-spacing * 6;
}

.closeAction {
  margin-top: auto;
  text-align: center;
  padding: $d8x-spacing * 10;
}

.menuButton {
  margin-left: $d8x-spacing * 4;
  padding: 0;
  min-width: 48px;
  height: 48px;
}

.logoLink {
  display: flex;
  line-height: 1;
}

.selectBoxes {
  display: flex;
  gap: $d8x-spacing * 6;
  margin-right: $d8x-spacing * 6;
}

.walletConnect {
  justify-content: right;
  display: flex;
  height: 48px;
  gap: 15px;
}

.buttonsHolder {
  display: flex;
  gap: $d8x-spacing * 4;
  height: 48px;
}

@media screen and ($d8x-breakpoint-max-lg) {

  .betaInfoLine {
    padding: 8px 16px;
  }

  .buttonsHolder {
    gap: $d8x-spacing * 2;
  }

  .toolbar {
    padding: 8px 16px 0;
    margin: -16px -16px 0;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    margin-bottom: 0;

    :global(.MuiPaper-root) {
      height: inherit;
    }
  }

  .leftSide {
    width: auto;
  }

  .betaInfoLine {
    padding: 4px 40px;
  }

  .toolbar {
    min-height: 80px;
    padding: 0 40px;
    margin: -16px -40px 0;
  }

  .menuButton {
    margin-left: $d8x-spacing * 2;
  }
}

@media screen and ($d8x-breakpoint-max-sm) {

  .betaInfoLine {
    padding: 4px 24px;
  }

  .toolbar {
    min-height: 80px;
    padding: 0 24px;
    margin: -16px -24px 0;
  }

  .mobileButtonsBlock {
    background-color: var(--d8x-color-background-items);
    padding: 0 4 * $d8x-spacing;
    margin: 0 -4 * $d8x-spacing;
  }

  .mobileWalletButtons {
    padding: 4 * $d8x-spacing 0;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    padding: 0 12px;

    :global(.MuiPaper-root) {
      height: auto;
    }
  }

  .betaInfoLine {
    padding: 4px 12px;
  }

  .mainLogoHolder,
  .drawerLogoHolder {
    gap: 2 * $d8x-spacing;
  }

  .toolbar {
    padding: 0 12px;
    margin: -16px -12px 0;
    min-height: 72px;
    background-color: var(--d8x-color-background-items);
  }
}
