@import 'styles/theme/theme';

.root {
  margin-top: 4 * $d8x-spacing;
  margin-bottom: 8 * $d8x-spacing;

  :global(.MuiPaper-root) {
    height: 48px;
  }

  :global(.MuiOutlinedInput-root) {
    width: auto;
    background-color: var(--d8x-color-white);
  }
}

.toolbar {
  align-items: center;
  padding: 0;
}

.leftSide {
  display: flex;
  flex: 1;
  gap: 16 * $d8x-spacing;

  .navWrapper {
    display: flex;
    gap: 8 * $d8x-spacing;
  }
}

.navMobileWrapper {
  display: flex;
  flex-direction: column;
  padding-top: $d8x-spacing * 4;
  gap: $d8x-spacing * 6;
}

.navMobileItem,
.navItem {
  font-weight: 500;
  text-decoration: none;

  &.inactive {
    position: relative;
    color: var(--d8x-color-black-maintext);

    &:hover {
      color: var(--d8x-color-purple);
      cursor: pointer;
      transition: 200ms ease-in-out;
    }
  }

  &.active {
    color: var(--d8x-color-purple);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -$d8x-spacing;
      width: 100%;
      border-bottom: 1px solid var(--d8x-color-purple-300);
    }
  }
}

.navMobileItem {

  &.active {

    &::after {
      border-bottom: none;
    }
  }
}

.menuButton {
  margin-left: $d8x-spacing * 1.5;
  padding: 0;
  min-width: 50px;
  height: 50px;
}

.logoLink {
  display: flex;
  line-height: 1;
}

.selectBoxes {
  display: flex;
  gap: $d8x-spacing * 6;
  margin-right: $d8x-spacing * 6;
}

.mobileSelectBoxes {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: $d8x-spacing * 4;
  gap: $d8x-spacing * 3;
  justify-content: center;
}

.mobileSeparator {
  margin: $d8x-spacing * 4 0 !important;
  border-color: var(--d8x-color-black-200) !important;
}

.walletConnect {
  justify-content: right;
  display: flex;
  height: 48px;
  gap: 15px;
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    margin-bottom: 0;

    :global(.MuiPaper-root) {
      height: inherit;
    }
  }

  .leftSide {
    width: auto;
  }

  .toolbar {
    min-height: 48px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {

    :global(.MuiPaper-root) {
      height: auto;
    }
  }

  .mobileSelectBoxes {
    flex-direction: column;
  }
}
