@import 'styles/theme/theme';

.root {
  margin-top: $d8x-spacing;
  margin-bottom: $d8x-spacing * 3;

  :global(.MuiPaper-root) {
    height: 80px;
  }

  :global(.MuiOutlinedInput-root) {
    width: auto;
    background-color: var(--d8x-color-white);
  }
}

.toolbar {
  align-items: center;
  min-height: 100px;
  padding: 0;
}

.leftSide {
  display: flex;
  flex: 1;
  gap: 16 * $d8x-spacing;

  .navWrapper {
    display: flex;
    gap: 8 * $d8x-spacing;
  }
}

.navItem {
  font-weight: 500;

  &.inactive {
    position: relative;

    &:hover {
      color: var(--d8x-color-purple);
      cursor: pointer;
      transition: 200ms ease-in-out;
    }
  }

  &.active {
    color: var(--d8x-color-purple);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -$d8x-spacing;
      width: 100%;
      border-bottom: 1px solid var(--d8x-color-purple-300);
    }
  }
}

.logoLink {
  display: flex;
  line-height: 1;
}

.selectBoxes {
  display: flex;
  gap: $d8x-spacing * 6;
  margin-right: $d8x-spacing * 6;
}

.mobileSelectBoxes {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
  justify-content: center;
}

.walletConnect {
  justify-content: right;
  display: flex;
  gap: 15px;
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {

    :global(.MuiPaper-root) {
      height: 150px;
    }
  }

  .leftSide {
    width: auto;
  }

  .toolbar {
    min-height: 80px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {

    :global(.MuiPaper-root) {
      height: auto;
    }
  }

  .mobileSelectBoxes {
    flex-direction: column;
  }
}
