@import '~styles/theme/_theme.scss';

.container {
  display: flex;
  justify-content: space-between;
}

.inactive,
.active {
  padding: $d8x-spacing $d8x-spacing * 3;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.active {
  background-color: var(--d8x-color-action-secondary);
  color: var(--d8x-color-action);
}
