@import '~styles/theme/theme.scss';

.root {
  display: flex;
  border-radius: $d8x-border-radius;
  border: 1px solid var(--d8x-block-border-color);

  @include media-tablet {
    flex-direction: column;
  }
}
