@import 'styles/theme/theme';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $d8x-spacing * 5;
  flex: 1;
  overflow-x: auto;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

@media screen and ($d8x-breakpoint-max-sm) {

  .container {
    gap: $d8x-spacing * 4;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .container {
    margin-top: 12px;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    padding: 0 12px;
  }
}
