@import '~styles/theme/theme.scss';

.dropDownButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 48px;
  padding-left: 3 * $d8x-spacing;
  padding-right: 3 * $d8x-spacing;
  border-radius: 2 * $d8x-spacing;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    border-color: transparent;
  }

  &.fullWidth {
    width: 100%;
  }
}

.menuHolder {
  :global(.MuiPaper-root) {
    color: var(--d8x-color-text-main);
    background-color: var(--d8x-color-background);
  }
}

.selectedValue {
  display: flex;
  align-items: center;
  gap: 2 * $d8x-spacing;

  svg {
    color: var(--d8x-color-action-icon);
    width: 24px;
    height: 24px;
  }
}

.arrowDropDown {
  color: var(--d8x-color-action-icon);
  padding-top: 2 * $d8x-spacing;

  &.disabledHandle {
    color: var(--d8x-color-text-label-two);
  }
}

@media screen and ($d8x-breakpoint-max-md) {
  .selectedValue {
    font-size: 14px;
  }
}
