@import '~styles/theme/_theme.scss';

.dropDownButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 48px;
  padding-left: 3 * $d8x-spacing;
  padding-right: 3 * $d8x-spacing;
  border-radius: $d8x-spacing;

  &.fullWidth {
    width: 100%;
  }
}

.menuHolder {

  :global(.MuiPaper-root) {
    color: var(--d8x-color-black-maintext);
    background-color: var(--d8x-background);
  }
}

.selectedValue {
  display: flex;
  align-items: center;
  gap: 2 * $d8x-spacing;

  svg {
    color: var(--d8x-color-purple);
    width: 24px;
    height: 24px;
  }
}

.arrowDropDown {
  color: var(--d8x-color-purple);
  padding-top: 2 * $d8x-spacing;

  &.disabledHandle {
    color: var(--d8x-color-black-200);
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .selectedValue {
    font-size: 14px;
  }
}
