@import '~styles/theme/theme.scss';

.inputHolder {
  display: flex;
  justify-content: center;
}

.inputClassName {
  width: 100%;
}

.helperText {
  display: block;
  text-align: right;
  margin-top: 2 * $d8x-spacing;
  color: var(--d8x-color-text-main);

  a {
    cursor: pointer;
    color: var(--d8x-color-action);
  }
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
}

.closeButton {
  width: 150px;
}

.actionButton {
  width: 150px;
}

@media screen and ($d8x-breakpoint-max-xs) {
  .actionButton,
  .closeButton {
    width: 100%;
    height: 50px;
  }
}
