@import '~styles/theme/_theme.scss';

.root {
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  flex: 1;
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .newCodeButton {
    width: 200px;
  }
}

.divider {
  border: 1px solid var(--d8x-color-black-150);
  margin: 6 * $d8x-spacing 0;
}

.dataTitle {
  margin-bottom: $d8x-spacing;
}

.dataValue {
  font-weight: 600;
}

@media screen and ($d8x-breakpoint-max-xs) {

  .topSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    .newCodeButton {
      width: 100%;
    }
  }
}
