@import 'styles/theme/theme';

.root {
  padding: 0;
  background-color: var(--d8x-background-purple);
}

.rootOptions {
  display: flex;
  justify-content: center;

  :global(.MuiButtonBase-root) {
    flex: 1;
    border-radius: 0;
    padding: 10px 8px;
    font-size: 24px;
    line-height: 29px;
    background-color: var(--d8x-background-inactive-tab);
    border: solid var(--d8x-color-white);
    border-width: 1px 1px 0 0;
    margin-bottom: -1px;

    &:first-of-type {
      border-left-width: 1px;
      border-top-left-radius: $d8x-spacing * 2;
    }

    &:last-of-type {
      border-top-right-radius: $d8x-spacing * 2;
    }

    &:hover,
    &.selected {
      background-color: var(--d8x-background-card-details);
    }

    &.selected {
      font-weight: bold;
    }
  }
}
