@import 'styles/theme/theme';

.root {
  padding: 0;
}

.rootOptions {
  display: flex;
  justify-content: center;

  :global(.MuiButtonBase-root) {
    flex: 1;
    border-radius: 0;
    padding: 10px 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: var(--d8x-color-black-150);
    border-width: 1px 1px 0 0;
    margin-bottom: -1px;
    color: var(--d8x-color-black-300);

    &:first-of-type {
      border-left-width: 1px;
      border-top-left-radius: $d8x-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $d8x-border-radius;
    }

    &:hover,
    &.selected {
      color: var(--d8x-color-purple);
    }

    &.selected {
      background-color: var(--d8x-color-purple);
      color: var(--d8x-color-white);
    }
  }
}
