@import 'styles/theme/theme';

.root {
  margin-top: $d8x-spacing;
}

.limitPrice,
.triggerPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $d8x-spacing;

  .label {
    padding-right: $d8x-spacing;
  }
}
