@import '~styles/theme/_theme.scss';

.root {
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  flex: 1;
  background-color: var(--d8x-background-white);
  border-radius: 0 $d8x-border-radius $d8x-border-radius 0;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;

  .actionButton {
    width: 170px;
  }
}

.divider {
  margin: 6 * $d8x-spacing 0;
  background-color: var(--d8x-color-black-150);
}

.dataTitle {
  margin-bottom: $d8x-spacing;
  color: var(--d8x-color-black-maintext);
}

.dataValue {
  color: var(--d8x-color-black-maintext);
  font-weight: 600;
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    border-radius: 0 0 $d8x-border-radius $d8x-border-radius;
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .buttonContainer {
    display: block;

    .actionButton {
      width: 100%;
    }
  }
}
