@import 'styles/theme/theme';

.root {
  flex-direction: column;
  align-items: flex-start;
  gap: 2 * $d8x-spacing;
  margin-bottom: 6 * $d8x-spacing;
  margin-top: 6 * $d8x-spacing;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 3 * $d8x-spacing;
}

.stopLossOptions {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;

  :global(.MuiButtonGroup-root) {
    width: 100%;
  }

  :global(.MuiButtonBase-root) {
    flex: 1;

    &.selected {
      background-color: var(--d8x-color-purple);
      color: var(--d8x-color-white);
    }

    &:not(:last-of-type) {
      border-right-color: var(--d8x-color-black-opac);
      border-right-width: 1px;
      border-radius: 8px;
      margin-right: 8px;
    }

    &:last-of-type {
      border-radius: 8px;
    }
  }
}
