@import '~styles/theme/_theme.scss';

.root {
  flex-direction: column;
  align-items: flex-start;
  gap: 2 * $d8x-spacing;
  margin-bottom: 3 * $d8x-spacing;
  margin-top: 6 * $d8x-spacing;
}

.labelHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3 * $d8x-spacing;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.customPriceInput {

  :global(.MuiOutlinedInput-input) {
    padding: 8px 10px 6px;
  }
}

.priceOptions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: $d8x-spacing;
  flex-wrap: wrap;

  :global(.MuiButtonGroup-root) {
    width: 100%;
    flex-wrap: wrap;
    gap: $d8x-spacing;
  }

  :global(.MuiButtonBase-root) {
    flex: 1;
    border-radius: 8px;

    &.selected {
      border: 1px solid transparent;
      background-color: var(--d8x-color-action);
      color: var(--d8x-color-text-secondary);
    }
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .priceOptions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: $d8x-spacing;
    flex-wrap: wrap;

    :global(.MuiButtonBase-root) {
      min-width: 48px;
      max-height: 35px;
    }
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) {

  .root {
    margin-bottom: 2 * $d8x-spacing;
    margin-top: 2 * $d8x-spacing;
  }

  .labelHolder {
    margin-bottom: 2 * $d8x-spacing;
  }

  .priceOptions {

    :global(.MuiButtonBase-root) {
      max-height: 30px;
    }
  }
}
