@import '~styles/theme/theme.scss';

.root {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: $d8x-spacing * 2;
  padding: $d8x-spacing * 3;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-background-card-overlay);

  .active,
  &:focus,
  &:focus-within,
  &:hover {
    border: 1px solid var(--d8x-color-action);
    padding: calc(3 * $d8x-spacing - 1px);
  }
}

.labelHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $d8x-spacing * 2;
}

.responsiveInput {
  flex: 1;

  :global(.MuiInputBase-root) {
    width: 120px;
  }
}

.priceOptions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: $d8x-spacing;
  flex-wrap: wrap;
  overflow-y: hidden;
  height: 30px;
  margin-bottom: 2 * $d8x-spacing;

  :global(.MuiButtonGroup-root) {
    width: 100%;
    flex-wrap: wrap;
    gap: $d8x-spacing;
  }

  :global(.MuiButtonBase-root) {
    flex: 1;
    border-radius: 8px;
    min-width: inherit;
    padding: $d8x-spacing 0 0.5 * $d8x-spacing;

    &.selected {
      border: 1px solid transparent;
      background-color: var(--d8x-color-action);
      color: var(--d8x-color-text-secondary);
    }
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .priceOptions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: $d8x-spacing;
    flex-wrap: wrap;

    :global(.MuiButtonBase-root) {
      min-width: 48px;
      max-height: 35px;
    }
  }

  .responsiveInput {
    :global(.MuiInputBase-root) {
      width: 140px;
    }
  }
}
