@import '~styles/theme/theme.scss';

.root {
  flex-direction: column;
  align-items: flex-start;
  gap: $d8x-spacing * 2;
  margin-bottom: $d8x-spacing * 2;
  margin-top: $d8x-spacing * 2;
}

.labelHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $d8x-spacing * 3;
}

.customPriceInput {
  :global(.MuiOutlinedInput-input) {
    padding: 2 * $d8x-spacing 10px;
  }
}

.priceOptions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: $d8x-spacing;
  flex-wrap: wrap;

  :global(.MuiButtonGroup-root) {
    width: 100%;
    flex-wrap: wrap;
    gap: $d8x-spacing;
  }

  :global(.MuiButtonBase-root) {
    flex: 1;
    border-radius: 8px;
    padding-top: 0.9 * $d8x-spacing;
    padding-bottom: 0.4 * $d8x-spacing;

    &.selected {
      border: 1px solid transparent;
      background-color: var(--d8x-color-action);
      color: var(--d8x-color-text-secondary);
    }
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .priceOptions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: $d8x-spacing;
    flex-wrap: wrap;

    :global(.MuiButtonBase-root) {
      min-width: 48px;
      max-height: 35px;
    }
  }
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) {
  .root {
    margin-bottom: $d8x-spacing;
    margin-top: $d8x-spacing;
  }

  .labelHolder {
    margin-bottom: $d8x-spacing * 2;
  }

  .priceOptions {
    :global(.MuiButtonBase-root) {
      max-height: 30px;
    }
  }
}
