@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  justify-content: center;
  gap: $d8x-spacing * 8;
  padding-bottom: 20px;

  :global(.MuiButtonBase-root) {

    &.selected {
      font-weight: bold;
    }
  }

  button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
}

.selected {
  color: var(--d8x-color-action);
  background-color: var(--d8x-color-action-secondary);
}
