@import '~styles/theme/_theme.scss';

.inputHolder {
  display: flex;
  justify-content: center;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
}

.title {
  text-align: center;
}

.cancelButton {
  width: 150px;
}

.actionButton {
  width: 220px;
}

.buttonsBlock {
  display: flex;
  gap: $d8x-spacing * 2;
}

@media screen and ($d8x-breakpoint-max-xs) {

  .actionButton,
  .cancelButton {
    width: 100%;
    height: 50px;
  }
}
