@import '~styles/theme/_theme.scss';

:global(.MuiDialog-paper) {
  border-radius: $d8x-border-radius;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
}

.title {
  text-align: center;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
}

.actionButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 6 * $d8x-spacing;
}

.input {
  width: 100%;
  background-color: var(--d8x-color-black-100);

  input {
    width: 100%;
  }
}

.infoText {
  margin-top: -4 * $d8x-spacing;
  color: var(--d8x-color-black-400);
}

.modalButton {
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 48px;
  padding-left: 3 * $d8x-spacing;
  padding-right: 3 * $d8x-spacing;
  border-radius: $d8x-spacing;
  gap: 3 * $d8x-spacing;
}

.cancelButton {
  width: 150px;
}

.actionButton {
  width: 220px;
}

@media screen and ($d8x-breakpoint-max-xs) {

  .actionButtonsContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 4 * $d8x-spacing;
  }

  .actionButton,
  .cancelButton {
    width: 100%;
    height: 50px;
  }
}
