@import '~styles/theme/theme.scss';

.loaderWrapper {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  :global(.MuiPaper-root) {
    background-color: var(--d8x-color-background);
    color: var(--d8x-color-text-main);
  }

  :global(.MuiDialog-paper) {
    border-radius: $d8x-border-radius;
  }
}
