@import '~styles/theme/theme.scss';

.loaderWrapper {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  padding: 0;
  min-width: unset;
}

.dialogContent {
  font-size: 16px;
  line-height: 24px;
}

.dialogAction {
  justify-content: center;
  padding: 4 * $d8x-spacing 5 * $d8x-spacing;
}

@include media-phone {
  :global(.MuiDialog-root) {
    :global(.MuiDialog-container) {
      align-items: flex-end !important;

      :global(.MuiPaper-root) {
        margin: 50% 0 0;
        max-width: 100%;
        max-height: 50vh;
        border-radius: $d8x-border-radius-large $d8x-border-radius-large 0 0;
      }
    }
  }
}
