@import '~styles/theme/_theme.scss';
@import '~styles/theme/_utils.scss';

.root {
  @include flex-center;

  flex-direction: column;
  background-color: var(--d8x-background-white);
  padding: 2 * $d8x-spacing;
  border-radius: $d8x-border-radius;
  border: 1px solid var(--d8x-border);
}

.errorIcon {
  color: var(--d8x-red);
  font-size: 70px;
  margin-bottom: $d8x-spacing;
}

.title {
  color: var(--d8x-red);
}

.errorMessage {
  margin: 3 * $d8x-spacing 0;
  color: var(--d8x-label);
}
