@import 'styles/theme/theme';

.rootBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}

@media screen and ($d8x-breakpoint-max-sm) {

  .rootBox {
    flex-direction: column;
  }

  .footerLogoWrapper {
    margin: 1rem 0;
  }

  .footerLogo {
    height: 25px;
  }
}
