@import 'styles/theme/theme';

.rootBox {
  display: flex;
  padding-bottom: 360px;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: 32px;
}

.footerSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footerLink {
  margin-left: 0;
  margin-right: 24px;
}

.footerSocialLogo {
  color: var(--d8x-social-icon-color);
  transition: color 300ms linear;
  text-decoration: none;

  &:hover {
    color: var(--d8x-social-icon-color-hover);
    text-decoration: none;
  }
}

@media screen and ($d8x-breakpoint-max-sm) {

  .rootBox {
    display: block;
    justify-content: center;
    padding-bottom: 100px;
  }

  .footerNav {
    width: 100%;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .footerLink:last-of-type {
    margin-right: 0;
  }

  .footerCopyright {
    text-align: center;
    width: 100%;
    margin-top: 24px;
  }

  .footerLogo {
    display: block;
    text-align: center;
    margin-top: 24px;
  }
}
