@import 'styles/theme/theme';

.dialog {

  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 400px;
  }
}

.dialogContent {
  font-size: 18px;
  line-height: 26px;

  > * {
    margin-top: $d8x-spacing * 2;
  }
}

.dialogAction {
  justify-content: center;
}

.actionIcon {
  cursor: pointer;
}
