@import '~styles/theme/_theme.scss';

.dialog {

  :global(.MuiPaper-root) {
    width: 100%;
    max-width: 400px;
    border-radius: $d8x-border-radius;
  }
}

.dialogContent {
  font-size: 16px;
  line-height: 24px;
}

.dialogContent > :not(:first-of-type) {
  margin-top: 16px;
}

.dialogAction {
  justify-content: center;
}

.dialogTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.actionIcon {
  cursor: pointer;
  position: relative;
  color: var(--d8x-color-purple);
  font-size: 1rem;
}

.title {
  line-height: 1;

  @include media-phone {
    font-size: 0.75rem;
  }
}
