@import '~styles/theme/_theme.scss';

.root {
  width: 100%;
  display: flex;
  gap: 3 * $d8x-spacing;
}

.statContainer {
  flex: 1;
  padding: $d8x-spacing * 5 $d8x-spacing * 6;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-white);
}

.statLabel {
  display: block;
  white-space: nowrap;
  margin-bottom: $d8x-spacing * 0.5;
  color: var(--d8x-color-black-500);
  min-width: 50px;
}

.statValue {
  display: inline-block;
  color: var(--d8x-color-purple-dark);
  white-space: nowrap;
  font-weight: 600;
}

.statCurrency {
  display: inline-block;
  color: var(--d8x-color-purple-dark);
  white-space: nowrap;
  font-size: 8px;
  margin-left: 4px;
}

.iconButton {
  color: var(--d8x-color-white);
  padding: 0;
  min-width: 40px;
  height: 40px;

  svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and ($d8x-breakpoint-max-lg) {

  .root {
    overflow-x: auto;
  }
}

@media screen and ($d8x-breakpoint-min-sm) and ($d8x-breakpoint-max-lg) {

  .statValue {
    font-size: 16px;
  }
}

@media screen and ($d8x-breakpoint-max-md) {

  .root {
    margin-top: $d8x-spacing * 3;
  }

  .statContainer {
    padding: $d8x-spacing * 2 $d8x-spacing * 4;
  }
}

@media screen and ($d8x-breakpoint-max-sm) {

  .root {
    justify-content: flex-start;
  }

  .statValue {
    font-size: 14px;
  }

  .statContainer {
    padding: $d8x-spacing * 2 $d8x-spacing * 4;
    max-height: 82px;
  }

  .rootMobile {
    display: flex;
    gap: $d8x-spacing * 3;
    margin-bottom: $d8x-spacing * 1;
    margin-top: $d8x-spacing * 3;

    .statContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $d8x-spacing * 2 $d8x-spacing * 4;
      gap: $d8x-spacing * 2;
    }

    .chartIcon {
      display: flex;
      width: 32px;
      height: 28px;
      padding: $d8x-spacing;
      border-radius: 5px;

      &:hover {
        opacity: 0.7;
      }

      &.active {
        background-color: var(--d8x-color-purple-50, #EFF0FE);
      }
    }

    .groupedStat {

      & + .groupedStat {
        margin-top: $d8x-spacing * 0;
      }

      .statLabel {
        margin-top: $d8x-spacing * 2.5;
        font-size: 10px;
        line-height: 2px;
        min-width: 50px;
        margin-bottom: 0;
      }

      .statValue {
        font-size: 10px;
        line-height: 12px;
      }
    }

    .statValue {
      white-space: normal;
    }
  }
}
