@import 'styles/theme/theme';

.root {
  width: 100%;
  display: flex;
  gap: 3 * $d8x-spacing;
}

.statContainer {
  flex: 1;
  padding: $d8x-spacing * 5 $d8x-spacing * 6;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-white);
}

.statLabel {
  display: block;
  white-space: nowrap;
  margin-bottom: $d8x-spacing * 0.5;
  color: var(--d8x-color-black-500);
  min-width: 100px;
}

.statValue {
  display: block;
  color: var(--d8x-color-purple);
  white-space: nowrap;
  font-weight: 600;
}

@media screen and ($d8x-breakpoint-max-lg) {

  .root {
    overflow-x: auto;
  }
}

@media screen and ($d8x-breakpoint-max-sm) {

  .root {
    justify-content: start;
    overflow-x: auto;
  }

  .statContainer {
    padding: $d8x-spacing * 3 $d8x-spacing * 4;
  }
}
