@import '~styles/theme/theme.scss';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: calc($d8x-spacing / 2);
}

.tooltip {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}
