@import '~styles/theme/theme.scss';
@import '~styles/theme/utils.scss';

.dialog {
  :global(.MuiPaper-root) {
    max-width: initial;
  }
}

.filterBlock {
  display: flex;
  gap: $d8x-spacing * 2;
  flex-flow: column wrap;
}

.modalActions {
  margin: auto;
}

.controlBlock {
  display: flex;
  gap: $d8x-spacing * 2;
  align-items: center;
  justify-content: space-between;
}

.fieldDropdown {
  width: 175px;
}

.input {
  height: 48px;
  width: 175px;

  :global(.MuiOutlinedInput-input) {
    font-size: 14px;
  }
}

.dateInput {
  @include transition(opacity);

  height: 48px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--d8x-color-border);
  outline: none;
  background-color: transparent;
  color: var(--d8x-color-text-main);
  padding: 0 3 * $d8x-spacing;

  :global(.MuiTypography-root) {
    font-size: 14px;
  }

  &:focus,
  &:hover {
    border-color: var(--d8x-color-border);
    background-color: var(--d8x-color-action-secondary);
  }
}
