@import '~styles/theme/theme.scss';

.optionsHeader {
  display: block;
  padding: 3 * $d8x-spacing;

  .header {
    color: var(--d8x-color-text-main);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 4 * $d8x-spacing;
  padding: 2 * $d8x-spacing 0 0;
}

.searchAndType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4 * $d8x-spacing;
}
