@import '~styles/theme/theme.scss';

.root {
  margin-bottom: 6 * $d8x-spacing;

  .title,
  .titleLink {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2 * $d8x-spacing;
  }

  .title {
    color: var(--d8x-color-text-label-one);
  }

  .titleLink {
    color: var(--d8x-color-action);
    margin-bottom: $d8x-spacing;
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  .itemLine {
    display: flex;
    align-items: center;
    gap: 2 * $d8x-spacing;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--d8x-color-text-highlight);
    margin-bottom: 2 * $d8x-spacing;
  }

  .itemLogoHolder {
    width: 24px;
    height: 24px;
    font-size: 24px;

    &.rounded {
      font-size: 20px;
      border-radius: 50%;
      overflow: hidden;
      padding: 2px;
    }
  }
}

@media screen and ($d8x-breakpoint-max-xs) {
  .root {
    .title,
    .titleLink {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: $d8x-spacing;
    }

    .itemLine {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: $d8x-spacing;
    }
  }
}

@media screen and ($d8x-breakpoint-max-lg) and ($d8x-breakpoint-min-sm) {
  .root {
    .title,
    .titleLink {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 2 * $d8x-spacing;
    }

    .itemLine {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 2 * $d8x-spacing;
    }
  }
}
