@import '~styles/theme/_theme.scss';

.root {
  padding: 8px;
  border-radius: 4px;
  background-color: var(--d8x-color-background);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: calc($d8x-spacing / 2);
  color: var(--d8x-color-text-main);
}

.infoText {
  font-size: 12px;
}

.infoTextTooltip {
  font-size: 12px;
  text-decoration: underline;
  text-decoration-style: dotted;
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) and ($d8x-breakpoint-max-lg) {

  .infoText {
    font-size: 10px;
  }

  .infoTextTooltip {
    font-size: 10px;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}
