@import 'styles/theme/theme';

.root {
  padding: 8px;
  border-radius: 4px;
  background-color: var(--d8x-background);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: $d8x-spacing / 2;
  color: var(--d8x-color-black-maintext);
}
