@import '~styles/theme/theme.scss';

.root {
  padding: 0 3 * $d8x-spacing 3 * $d8x-spacing;
  border-radius: $d8x-border-radius;
  background-color: var(--d8x-color-background-card-overlay);
  margin-bottom: 4 * $d8x-spacing;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: calc($d8x-spacing * 3);
  color: var(--d8x-color-text-order-block-info);
}

.infoText {
  font-size: 12px;
  line-height: 15px;
}

.infoTextNumber {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}

.infoTextTooltip {
  font-size: 12px;
  text-decoration: underline;
  text-decoration-style: dotted;
}

@media screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-max-xs),
  screen and ($d8x-breakpoint-height-max-md) and ($d8x-breakpoint-min-lg) and ($d8x-breakpoint-max-lg) {
  .infoText {
    font-size: 10px;
    line-height: 12px;
  }

  .infoTextTooltip {
    font-size: 10px;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}
