@import '~styles/theme/theme.scss';

.root {
  display: flex;
}

.tab {
  padding: 3 * $d8x-spacing 10 * $d8x-spacing;

  &:first-child {
    border-radius: $d8x-border-radius 0 0 $d8x-border-radius;
  }

  &:last-child {
    border-radius: 0 $d8x-border-radius $d8x-border-radius 0;
  }

  span {
    font-weight: 600;
  }

  &.active {
    background-color: var(--d8x-color-action);
    color: var(--d8x-color-text-secondary);
  }

  &.inactive {
    background-color: var(--d8x-color-background-items-inactive);
    color: var(--d8x-color-text-primarytab-inactive);
    cursor: pointer;
  }
}
