@import '~styles/theme/_theme.scss';

.root {
  overflow-x: auto;
}

.helperText {
  text-align: right;
  margin-top: calc($d8x-spacing / 2);
}

.tableHead {
  background-color: var(--d8x-background-white);

  :global(.MuiTypography-root) {
    font-weight: 400;
    color: var(--d8x-color-black-maintext);
  }
}

.tableBody {
  background-color: var(--d8x-color-white-opac);

  :global(.MuiTypography-root) {
    color: var(--d8x-color-purple-dark);
  }

  tr {
    background-color: var(--d8x-color-black-40);

    &:nth-child(2n) {
      background-color: var(--d8x-background-white);
    }
  }
}

.noData {
  padding-top: 4 * $d8x-spacing;
  text-align: center;
}

.paginationHolder {
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

@media screen and ($d8x-breakpoint-min-md) and ($d8x-breakpoint-max-lg) {

  .tableHolder {

    :global(.MuiTableCell-root) {
      padding: 4px;
    }
  }
}
