@import '~styles/theme/_theme.scss';

.root {
  flex-direction: column;
  align-items: flex-start;
  gap: 2 * $d8x-spacing;
  margin-bottom: 6 * $d8x-spacing;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 3 * $d8x-spacing;
}

.expiryOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: $d8x-spacing;

  :global(.MuiButtonGroup-root) {
    width: 100%;
    flex-wrap: wrap;
    gap: $d8x-spacing;
  }

  :global(.MuiButtonBase-root) {
    flex: 1;
    border-radius: 8px;

    &.selected {
      border: 1px solid transparent;
      background-color: var(--d8x-color-purple);
      color: var(--d8x-color-white);
    }
  }
}

@media screen and ($d8x-breakpoint-max-xs) {

  .expiryOptions {

    :global(.MuiButtonBase-root) {
      min-width: 64px;
      max-width: 64px;
    }
  }
}
