@import '~styles/theme/_theme.scss';

.root {
  border-radius: 4px;
  border: 1px solid #EEEDED;
}

.labelRow {
  display: flex;
  align-items: center;
  color: var(--d8x-color-text-main);
  padding: $d8x-spacing * 3;
}

.optionRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--d8x-color-text-main);
  padding: $d8x-spacing * 1.5 $d8x-spacing * 2;
}

.label {
  display: flex;
  align-items: center;
  gap: $d8x-spacing * 2;
}

.labelIcon {
  color: var(--d8x-color-action-icon);
}

@media screen and ($d8x-breakpoint-max-md) {

  .label {
    font-size: 14px;
  }

  .setting {
    font-size: 14px;
  }
}
