@import '~styles/theme/theme.scss';

.root {
  background-color: var(--d8x-color-background-items-second);
  padding: $d8x-spacing * 8;
  width: 300px;

  @include media-tablet {
    width: 100%;
  }

  .itemLogoHolder {
    width: 24px;
    height: 24px;
    font-size: 24px;

    &.rounded {
      font-size: 20px;
      border-radius: 50%;
      overflow: hidden;
      padding: 1px;
    }
  }
}

.title {
  font-size: 32px;
  line-height: 44px;
  color: var(--d8x-color-text);
  margin-bottom: 10 * $d8x-spacing;
}

.dataBlock {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  color: var(--d8x-color-text-highlight);

  .dataTitle {
    color: var(--d8x-color-text-main);
    margin-bottom: $d8x-spacing;
  }

  .dataValue {
    display: flex;
    align-items: center;
    line-height: 24px;
    gap: 2 * $d8x-spacing;
    font-weight: 600;
    color: var(--d8x-color-text-highlight);
    margin-bottom: 2 * $d8x-spacing;
  }

  @include media-tablet {
    flex-flow: row wrap;

    .dataItem {
      flex: 1;
      min-width: 250px;
    }
  }
}
