@import '~styles/theme/_theme.scss';

.root {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2 * $d8x-spacing;
}

.actionIcon {
  color: var(--d8x-color-action-icon);
  transition: opacity linear 200ms;
  position: relative;
  bottom: 2px;

  &:hover {
    opacity: 0.7;
  }
}

.refreshLabel {
  color: var(--d8x-color-action);
}
