@import '~styles/theme/theme.scss';

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 8 * $d8x-spacing;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
}

.closeButton {
  width: 150px;
}

.buttonsBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $d8x-spacing * 2;
}

@media screen and ($d8x-breakpoint-max-xs) {
  .closeButton {
    width: 100%;
    height: 50px;
  }
}
