@import '~styles/theme/_theme.scss';

.root {
  margin: 2px 9px;

  @include media-desktop {
    margin-bottom: 4px;
  }

  @include media-phone {
    margin-bottom: 8px;

    :global(.MuiSlider-root) {
      margin-bottom: 10px;
    }
  }
}
