@import '~styles/theme/theme.scss';

.root {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 6 * $d8x-spacing;
  border-radius: $d8x-border-radius;
  border: 1px solid var(--d8x-block-border-color);
  background-color: var(--d8x-color-background-items);
  line-height: 1.2;
}

.header {
  margin-bottom: 6 * $d8x-spacing;

  .logo {
    margin-bottom: 4 * $d8x-spacing;

    svg {
      width: 80px;
      height: 80px;
    }
  }

  .symbol {
    font-size: 20px;
    font-weight: 500;
  }
}

.content {
  display: flex;
  flex: 1;
  gap: 14 * $d8x-spacing;

  @include media-phone {
    flex-direction: column;
    gap: $d8x-spacing;
  }
}
