@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: 6 * $d8x-spacing;
  box-sizing: content-box;
  padding: 10 * $d8x-spacing 8 * $d8x-spacing;
  background-color: var(--d8x-color-background-items);
  min-width: 200px;
}

.title {
  font-weight: 600;
  color: var(--d8x-color-text-main);
  max-width: 250px;
}

.text {
  color: var(--d8x-color-text-label-two);
  max-width: 250px;
}

@media screen and ($d8x-breakpoint-max-sm) {

  .root {
    display: flex;
    padding-top: 10 * $d8x-spacing;
    padding-bottom: 0;
  }
}
