$d8x-font-primary: 'Helvetica';
$d8x-font-size-body: 14px;
$d8x-font-weight-body: 400;
$d8x-line-height-body: 22px;
$d8x-font-size-card: 24px;
$d8x-font-weight-card: 400;
$d8x-line-height-card: 32px;
$d8x-font-size-text: 24px;
$d8x-font-weight-text: 400;
$d8x-line-height-text: 32px;
$d8x-font-size-header: 120px;
$d8x-font-weight-header: 600;
$d8x-line-height-header: 145px;
$d8x-font-size-sub-header: 48px;
$d8x-font-weight-sub-header: 600;
$d8x-line-height-sub-header: 58px;
$d8x-spacing: 4px;
$d8x-border-radius-small: 4px;
$d8x-border-radius: 12px;
$d8x-button-border-radius: 26px;
$d8x-section-gap-desktop: 200px;
$d8x-section-gap-mobile: 100px;
$d8x-breakpoint-min-xs: 'min-width: 0';
$d8x-breakpoint-max-xs: 'max-width: 599px';
$d8x-breakpoint-min-sm: 'min-width: 600px';
$d8x-breakpoint-max-sm: 'max-width: 967px';
$d8x-breakpoint-min-md: 'min-width: 968px';
$d8x-breakpoint-max-md: 'max-width: 1279px';
$d8x-breakpoint-min-lg: 'min-width: 1280px';
$d8x-breakpoint-max-lg: 'max-width: 1649px';
$d8x-breakpoint-min-xl: 'min-width: 1650px';
