@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin transition($styleProps, $duration: 0.3s, $timingFunction: ease-in) {
  transition: $styleProps $duration $timingFunction;
}
