@import 'styles/theme/theme';

.root {
  overflow: hidden;
  background-color: var(--d8x-color-white);
  padding: $d8x-spacing * 3;
  border-radius: $d8x-border-radius;
}

.periodsHolder {
  margin-top: $d8x-spacing * 2;
}
