@import '~styles/theme/_theme.scss';

.root {
  position: relative;
  overflow: hidden;
  background-color: var(--d8x-background-white);
  padding: $d8x-spacing * 6 $d8x-spacing $d8x-spacing * 2.25 $d8x-spacing * 4;
  border-radius: $d8x-border-radius;
}

.periodsHolder {
  margin-top: $d8x-spacing * 2;
  padding-right: $d8x-spacing * 3;
  padding-bottom: $d8x-spacing * 4;
}

.loaderHolder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  background-color: var(--d8x-background-loader);
}
