@import '~styles/theme/theme.scss';

.root {
  width: 100%;
  font-size: 16px;
  padding: $d8x-spacing * 2;
  cursor: pointer;

  input {
    cursor: pointer;
    user-select: none;
    pointer-events: none;
  }
}

.inputEndAdornment {
  cursor: pointer;
  min-width: inherit;
  padding-right: $d8x-spacing * 2;
}

.icon {
  color: var(--d8x-color-action-icon);
  font-size: 16px;
  cursor: pointer;
}
