@import '~styles/theme/theme.scss';

.root {
  border-radius: $d8x-border-radius;
  margin-top: 4 * $d8x-spacing;
  background-color: var(--d8x-color-background-items);
}

.select {
  width: 100%;
  margin-bottom: 6 * $d8x-spacing;

  div {
    width: 100%;
    padding: 4 * $d8x-spacing;
  }
}

.buttonsBlock {
  display: flex;
  gap: 2 * $d8x-spacing;
  padding: 0 4 * $d8x-spacing;
}

.dropdownHolder {
  padding: 6 * $d8x-spacing 4 * $d8x-spacing;
}

.dropdown {
  :global(.MuiPaper-root) {
    color: var(--d8x-color-text-main);
    background-color: var(--d8x-color-background);
  }
}
