@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  align-items: center;
}

.divisionsHolder {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 48px;
  min-width: 220px;
  padding: 2 * $d8x-spacing 4 * $d8x-spacing;
  border: 1px solid var(--d8x-meter-color-border);
  border-top-left-radius: $d8x-button-border-radius;
  border-bottom-left-radius: $d8x-button-border-radius;

  .division {
    width: 3px;
    transition: background-color 300ms ease-in;
    background-color: var(--d8x-meter-background-division);

    &.done {
      background-color: var(--d8x-meter-background-division-done);
    }
  }
}

.value {
  background-color: var(--d8x-color-background-pumpstation-overview);
  border-top-right-radius: $d8x-button-border-radius;
  border-bottom-right-radius: $d8x-button-border-radius;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 48px;
  padding-top: 6px;
  color: var(--d8x-color-text-pumpstation-overview);

  @include media-phone {
    font-size: 20px;
  }
}
