@import '~styles/theme/theme.scss';

.dialog {
  :global(.MuiPaper-root) {
    min-width: 450px;
    width: 100%;
  }
}

.baseRebateContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--d8x-color-background-items-second);
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.paddedContainer {
  display: flex;
  flex-direction: column;
  gap: 5 * $d8x-spacing;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.sidesRowValue {
  font-weight: 600;
}

.divider {
  border-bottom: 1px solid var(--d8x-color-separator-border);
}

.referrerKickbackInputContainer,
.traderKickbackInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.traderKickbackInputContainer {
  padding-top: 0;
}

.kickbackInput {
  max-width: 120px;
  color: var(--d8x-color-text-label-two);

  input {
    width: 100%;
  }
}

.referrerChangeContainer {
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.referrerChangeFlexWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.codeInputContainer {
  padding: 6 * $d8x-spacing 8 * $d8x-spacing;
}

.codeInputLabel {
  margin-bottom: 3 * $d8x-spacing;
}

.codeInput {
  width: 100%;

  input {
    font-size: 14px;
    width: 100%;
  }
}

.infoText {
  padding: 0 8 * $d8x-spacing;
  color: var(--d8x-color-text-label-two);
  margin: -2 * $d8x-spacing 0 8 * $d8x-spacing;
}

.actionButton {
  width: 200px;
}

@media screen and ($d8x-breakpoint-max-xs) {
  .dialogRoot {
    min-width: 300px;
  }

  .referrerKickbackInputContainer,
  .traderKickbackInputContainer {
    gap: 5 * $d8x-spacing;
  }

  .closeButton {
    height: 50px;
  }

  .actionButton {
    width: 100%;
    height: 50px;
  }
}
