@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2 * $d8x-spacing;
  margin-top: 2 * $d8x-spacing;
}

@media screen and ($d8x-breakpoint-max-xs) {

  .root {
    flex-direction: column;
    align-items: stretch;
  }

  .labelHolder {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3 * $d8x-spacing;
  }
}
